Repository matrix-org/dendrite, pull requests merged in 2018-07, with the labels that each got.

#538 Remove unused params
  src/github.com/matrix-org/dendrite/federationapi/routing/events.go
  src/github.com/matrix-org/dendrite/federationapi/routing/routing.go
Labels: maintenance

#537 Remove unnecessary req.Close()
  src/github.com/matrix-org/dendrite/clientapi/httputil/httputil.go
Labels: maintenance

#535 [federation] Add make_leave & send_leave
  src/github.com/matrix-org/dendrite/federationapi/routing/leave.go
  src/github.com/matrix-org/dendrite/federationapi/routing/routing.go
Labels: component:federation

#544 Add internal API QueryMembershipForUser
  src/github.com/matrix-org/dendrite/roomserver/api/query.go
  src/github.com/matrix-org/dendrite/roomserver/query/query.go
Labels: component:roomserver

#550 Support PUTing typing status in clientapi
  dendrite-config.yaml
  src/github.com/matrix-org/dendrite/clientapi/auth/storage/accounts/membership_table.go
  src/github.com/matrix-org/dendrite/clientapi/auth/storage/accounts/storage.go
  src/github.com/matrix-org/dendrite/clientapi/clientapi.go
  src/github.com/matrix-org/dendrite/clientapi/producers/typingserver.go
  src/github.com/matrix-org/dendrite/clientapi/routing/routing.go
  src/github.com/matrix-org/dendrite/clientapi/routing/sendtyping.go
  src/github.com/matrix-org/dendrite/cmd/dendrite-client-api-server/main.go
  src/github.com/matrix-org/dendrite/cmd/dendrite-monolith-server/main.go
  src/github.com/matrix-org/dendrite/common/basecomponent/base.go
  src/github.com/matrix-org/dendrite/common/config/config.go
  src/github.com/matrix-org/dendrite/common/config/config_test.go
  src/github.com/matrix-org/dendrite/common/test/config.go
  src/github.com/matrix-org/dendrite/typingserver/api/input.go
  src/github.com/matrix-org/dendrite/typingserver/typingserver.go
Labels: component:clientapi, component:typingserver

#557 Correct user/devices path
  src/github.com/matrix-org/dendrite/federationapi/routing/routing.go
Labels: bug, component:federation

#566 removed outdated "flag" comments on clientapi membership storage
  src/github.com/matrix-org/dendrite/clientapi/auth/storage/accounts/storage.go
Labels: Documentation

#559 Add TypingCache to maintain a list of users typing
  src/github.com/matrix-org/dendrite/typingserver/cache/cache.go
  src/github.com/matrix-org/dendrite/typingserver/cache/cache_test.go
Labels: component:typingserver
