Repository matrix-org/dendrite, pull requests merged in 2018-08, with the labels that each got.

#571 Cleanup code in federationapi/routing
  src/github.com/matrix-org/dendrite/federationapi/routing/join.go
  src/github.com/matrix-org/dendrite/federationapi/routing/routing.go
  src/github.com/matrix-org/dendrite/federationapi/routing/state.go
Labels: maintenance

#570 Fix up timestamp messaging
  src/github.com/matrix-org/dendrite/clientapi/httputil/parse.go
  src/github.com/matrix-org/dendrite/clientapi/routing/createroom.go
  src/github.com/matrix-org/dendrite/clientapi/routing/joinroom.go
  src/github.com/matrix-org/dendrite/clientapi/routing/membership.go
  src/github.com/matrix-org/dendrite/clientapi/routing/profile.go
  src/github.com/matrix-org/dendrite/clientapi/routing/sendevent.go
  src/github.com/matrix-org/dendrite/clientapi/threepid/invites.go
  src/github.com/matrix-org/dendrite/common/events.go
  src/github.com/matrix-org/dendrite/federationapi/routing/join.go
  src/github.com/matrix-org/dendrite/federationapi/routing/leave.go
  src/github.com/matrix-org/dendrite/federationapi/routing/threepid.go
Labels: bug, component:appservices

#525 [WIP] Improve /query/directory endpoint
  src/github.com/matrix-org/dendrite/federationapi/routing/query.go
  src/github.com/matrix-org/dendrite/federationapi/routing/routing.go
Labels: component:federation

#572 [Federation] Send typing events
  src/github.com/matrix-org/dendrite/federationsender/consumers/typingserver.go
  src/github.com/matrix-org/dendrite/federationsender/federationsender.go
  src/github.com/matrix-org/dendrite/federationsender/queue/destinationqueue.go
  src/github.com/matrix-org/dendrite/federationsender/queue/queue.go
  src/github.com/matrix-org/dendrite/federationsender/storage/joined_hosts_table.go
  src/github.com/matrix-org/dendrite/federationsender/storage/storage.go
  src/github.com/matrix-org/dendrite/typingserver/api/output.go
  src/github.com/matrix-org/dendrite/typingserver/input/input.go
Labels: component:federation, component:typingserver
