Repository matrix-org/dendrite, pull requests merged in 2020-07, with the labels that each got.

#1173 Persistent federation sender queues (PDUs)
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  federationsender/federationsender.go
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
  federationsender/storage/interface.go
  federationsender/storage/postgres/queue_json_table.go
  federationsender/storage/postgres/queue_pdus_table.go
  federationsender/storage/postgres/storage.go
  federationsender/storage/sqlite3/queue_json_table.go
  federationsender/storage/sqlite3/queue_pdus_table.go
  federationsender/storage/sqlite3/storage.go
Labels: changes database schema, component:federation

#1174 Replace publicroomsapi with a combination of clientapi/roomserver/currentstateserver
  clientapi/routing/createroom.go
  clientapi/routing/directory.go
  clientapi/routing/directory_public.go
  clientapi/routing/directory_public_test.go
  clientapi/routing/membership.go
  clientapi/routing/routing.go
  cmd/dendrite-federation-api-server/main.go
  cmd/dendritejs/main.go
  currentstateserver/api/api.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  currentstateserver/storage/interface.go
  currentstateserver/storage/postgres/current_room_state_table.go
  currentstateserver/storage/shared/storage.go
  currentstateserver/storage/sqlite3/current_room_state_table.go
  currentstateserver/storage/tables/interface.go
  federationapi/federationapi.go
  federationapi/federationapi_test.go
  federationapi/routing/publicrooms.go
  federationapi/routing/routing.go
  federationapi/routing/send_test.go
  go.mod
  go.sum
  internal/setup/monolith.go
  roomserver/api/api.go
  roomserver/api/api_trace.go
  roomserver/api/perform.go
  roomserver/api/query.go
  roomserver/internal/perform_publish.go
  roomserver/internal/query.go
  roomserver/inthttp/client.go
  roomserver/inthttp/server.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/published_table.go
  roomserver/storage/postgres/storage.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/published_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/tables/interface.go
  sytest-whitelist
Labels: component:clientapi, component:current-state, component:roomserver, maintenance

#1176 Remove publicroomsapi
  build/docker/config/dendrite-config.yaml
  build/docker/docker-compose.polylith.yml
  build/docker/images-build.sh
  build/docker/images-pull.sh
  build/docker/images-push.sh
  build/docker/postgres/create_db.sh
  build/gobind/monolith.go
  clientapi/api/api.go
  clientapi/clientapi.go
  clientapi/routing/directory_public.go
  clientapi/routing/routing.go
  cmd/client-api-proxy/main.go
  cmd/dendrite-client-api-server/main.go
  cmd/dendrite-current-state-server/main.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-libp2p/storage/postgreswithdht/storage.go
  cmd/dendrite-demo-libp2p/storage/postgreswithpubsub/storage.go
  cmd/dendrite-demo-libp2p/storage/storage.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-public-rooms-api-server/main.go
  cmd/dendritejs/main.go
  dendrite-config.yaml
  docs/INSTALL.md
  docs/WIRING-Current.md
  go.mod
  go.sum
  internal/config/config.go
  internal/setup/monolith.go
  internal/test/config.go
  internal/test/server.go
  publicroomsapi/README.md
  publicroomsapi/consumers/roomserver.go
  publicroomsapi/directory/directory.go
  publicroomsapi/directory/public_rooms.go
  publicroomsapi/publicroomsapi.go
  publicroomsapi/routing/routing.go
  publicroomsapi/storage/interface.go
  publicroomsapi/storage/postgres/prepare.go
  publicroomsapi/storage/postgres/public_rooms_table.go
  publicroomsapi/storage/postgres/storage.go
  publicroomsapi/storage/sqlite3/prepare.go
  publicroomsapi/storage/sqlite3/public_rooms_table.go
  publicroomsapi/storage/sqlite3/storage.go
  publicroomsapi/storage/storage.go
  publicroomsapi/storage/storage_wasm.go
Labels: component:clientapi, component:publicrooms, maintenance

#1177 Yggdrasil+QUIC demo, federation sender tweaks
  build/gobind/build.sh
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-demo-yggdrasil/yggconn/node.go
  cmd/dendrite-demo-yggdrasil/yggconn/session.go
  cmd/dendrite-demo-yggdrasil/yggconn/stream.go
  federationsender/queue/destinationqueue.go
  federationsender/storage/interface.go
  federationsender/storage/postgres/queue_pdus_table.go
  federationsender/storage/postgres/storage.go
  federationsender/storage/sqlite3/queue_pdus_table.go
  federationsender/storage/sqlite3/storage.go
  go.mod
  go.sum
Labels: component:federation, demo:yggdrasil

#1178 Fix rejoining rooms we created after wiping the database
  roomserver/internal/perform_join.go
Labels: bug, component:roomserver

#1179 Hydrate destination queues at startup
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
  federationsender/storage/interface.go
  federationsender/storage/postgres/queue_pdus_table.go
  federationsender/storage/postgres/storage.go
  federationsender/storage/sqlite3/queue_pdus_table.go
  federationsender/storage/sqlite3/storage.go
Labels: component:federation

#1180 Implement ExtraPublicRoomsProvider for p2p demos
  build/docker/DendriteJS.Dockerfile
  clientapi/api/api.go
  clientapi/clientapi.go
  clientapi/routing/directory_public.go
  clientapi/routing/directory_public_test.go
  clientapi/routing/routing.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-libp2p/publicrooms.go
  cmd/dendritejs/main.go
  cmd/dendritejs/publicrooms.go
  currentstateserver/api/wrapper.go
  internal/setup/monolith.go
Labels: demo:go-libp2p, demo:p2p.riot.im

#1181 Yggdrasil demo initial public room directory
  clientapi/routing/directory_public.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-demo-yggdrasil/yggconn/node.go
  cmd/dendrite-demo-yggdrasil/yggconn/session.go
  cmd/dendrite-demo-yggdrasil/yggrooms/yggrooms.go
  go.mod
  go.sum
Labels: demo:yggdrasil

#1183 Wake up destination queues more aggressively
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
Labels: component:federation

#1182 Implement local redaction
  clientapi/routing/createroom.go
  clientapi/routing/membership.go
  clientapi/routing/redaction.go
  clientapi/routing/routing.go
  clientapi/routing/sendevent.go
  currentstateserver/api/wrapper.go
  federationapi/routing/join.go
  federationapi/routing/leave.go
  internal/eventutil/events.go
  roomserver/api/wrapper.go
  sytest-whitelist
Labels: component:clientapi, feature-req

#1185 Implement core redaction logic
  roomserver/storage/postgres/event_json_table.go
  roomserver/storage/postgres/redactions_table.go
  roomserver/storage/postgres/storage.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/event_json_table.go
  roomserver/storage/sqlite3/redactions_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver

#1186 Emit redacted_event from the roomserver when redactions are validated
  currentstateserver/consumers/roomserver.go
  currentstateserver/storage/interface.go
  currentstateserver/storage/postgres/current_room_state_table.go
  currentstateserver/storage/shared/storage.go
  currentstateserver/storage/sqlite3/current_room_state_table.go
  currentstateserver/storage/tables/interface.go
  go.mod
  go.sum
  internal/eventutil/events.go
  roomserver/api/output.go
  roomserver/internal/input_events.go
  roomserver/internal/query.go
  roomserver/roomserver_test.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/redactions_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/redactions_table.go
  roomserver/storage/tables/interface.go
Labels: component:current-state, component:roomserver

#1187 bugfix: continue sending PDUs if ones are added whilst sending another PDU
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
Labels: bug, component:federation

#1190 Add /v1/upload to media API
  mediaapi/routing/routing.go
Labels: component:mediaapi

#1189 Finish implementing redactions
  currentstateserver/storage/shared/storage.go
  go.mod
  go.sum
  internal/eventutil/events.go
  roomserver/api/output.go
  roomserver/internal/query.go
  roomserver/storage/shared/storage.go
  syncapi/consumers/roomserver.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/storage/tables/interface.go
  sytest-whitelist
Labels: component:syncserver, feature-req

#1191 Reduce federation sender wedges
  federationsender/queue/destinationqueue.go
Labels: component:federation

#1192 Use TransactionWriter on federation sender queues (SQLite)
  federationsender/storage/sqlite3/storage.go
Labels: component:federation

#1193 Add User-Interactive Authentication
  clientapi/auth/password.go
  clientapi/auth/user_interactive.go
  clientapi/auth/user_interactive_test.go
  clientapi/routing/device.go
  clientapi/routing/login.go
  clientapi/routing/routing.go
  sytest-whitelist
Labels: component:clientapi, feature-req

#1199 Update README/docs
  README.md
  docs/CODE_STYLE.md
  docs/INSTALL.md
Labels: Documentation

#1201 Protect User API SQLite calls with mutexes
  userapi/storage/accounts/sqlite3/storage.go
Labels: component:userapi

#1204 Implement /keys/query locally
  clientapi/routing/keys.go
  clientapi/routing/routing.go
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/keyserver.go
  keyserver/storage/interface.go
  keyserver/storage/postgres/device_keys_table.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/device_keys_table.go
  keyserver/storage/tables/interface.go
  sytest-whitelist
Labels: component:keyserver

#1207 Deduplicate FS database, EDU persistence table
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
  federationsender/storage/interface.go
  federationsender/storage/postgres/joined_hosts_table.go
  federationsender/storage/postgres/queue_edus_table.go
  federationsender/storage/postgres/queue_json_table.go
  federationsender/storage/postgres/queue_pdus_table.go
  federationsender/storage/postgres/room_table.go
  federationsender/storage/postgres/storage.go
  federationsender/storage/shared/storage.go
  federationsender/storage/shared/storage_edus.go
  federationsender/storage/shared/storage_pdus.go
  federationsender/storage/sqlite3/joined_hosts_table.go
  federationsender/storage/sqlite3/queue_edus_table.go
  federationsender/storage/sqlite3/queue_json_table.go
  federationsender/storage/sqlite3/queue_pdus_table.go
  federationsender/storage/sqlite3/room_table.go
  federationsender/storage/sqlite3/storage.go
  federationsender/storage/tables/interface.go
  internal/sqlutil/sql.go
  keyserver/storage/storage_wasm.go
  syncapi/storage/shared/syncserver.go
Labels: component:federation

#1208 Use TransactionWriter in roomserver SQLite
  roomserver/storage/sqlite3/event_json_table.go
  roomserver/storage/sqlite3/event_state_keys_table.go
  roomserver/storage/sqlite3/event_types_table.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/invite_table.go
  roomserver/storage/sqlite3/membership_table.go
  roomserver/storage/sqlite3/previous_events_table.go
  roomserver/storage/sqlite3/published_table.go
  roomserver/storage/sqlite3/redactions_table.go
  roomserver/storage/sqlite3/room_aliases_table.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/sqlite3/state_block_table.go
  roomserver/storage/sqlite3/state_snapshot_table.go
  roomserver/storage/sqlite3/transactions_table.go
Labels: component:roomserver

#1210 Implement claiming one-time keys locally
  clientapi/routing/keys.go
  clientapi/routing/routing.go
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/storage/interface.go
  keyserver/storage/postgres/one_time_keys_table.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/one_time_keys_table.go
  keyserver/storage/tables/interface.go
  sytest-whitelist
Labels: component:keyserver

#1209 Use TransactionWriter in other component SQLite
  appservice/storage/sqlite3/appservice_events_table.go
  appservice/storage/sqlite3/txn_id_counter_table.go
  currentstateserver/storage/sqlite3/current_room_state_table.go
  mediaapi/storage/sqlite3/media_repository_table.go
  roomserver/internal/input_events.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/published_table.go
  roomserver/storage/sqlite3/room_aliases_table.go
  roomserver/storage/sqlite3/rooms_table.go
  serverkeyapi/storage/sqlite3/server_key_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/account_data_table.go
  syncapi/storage/sqlite3/backwards_extremities_table.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/sqlite3/filter_table.go
  syncapi/storage/sqlite3/invites_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/storage/sqlite3/output_room_events_topology_table.go
  syncapi/storage/sqlite3/send_to_device_table.go
  syncapi/storage/sqlite3/stream_id_table.go
  syncapi/storage/storage_test.go
  userapi/storage/accounts/sqlite3/account_data_table.go
  userapi/storage/accounts/sqlite3/accounts_table.go
  userapi/storage/accounts/sqlite3/profile_table.go
  userapi/storage/accounts/sqlite3/threepid_table.go
  userapi/storage/devices/sqlite3/devices_table.go
Labels: component:appservices, component:current-state, component:mediaapi, component:serverkeyapi, component:syncserver, component:userapi

#1212 Perform outbound federation hits for querying/claiming E2E keys
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-key-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendritejs/main.go
  go.mod
  go.sum
  keyserver/internal/internal.go
  keyserver/keyserver.go
Labels: component:keyserver

#1214 Persistent federation sender blacklist
  build/gobind/monolith.go
  cmd/dendrite-demo-yggdrasil/main.go
  federationsender/federationsender.go
  federationsender/internal/api.go
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
  federationsender/statistics/statistics.go
  federationsender/storage/interface.go
  federationsender/storage/postgres/blacklist_table.go
  federationsender/storage/postgres/storage.go
  federationsender/storage/shared/storage.go
  federationsender/storage/sqlite3/blacklist_table.go
  federationsender/storage/sqlite3/storage.go
  federationsender/storage/tables/interface.go
  internal/config/config.go
Labels: component:federation

#1215 Handle inbound federation E2E key queries/claims
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-federation-api-server/main.go
  cmd/dendrite-key-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendritejs/main.go
  federationapi/federationapi.go
  federationapi/federationapi_test.go
  federationapi/routing/keys.go
  federationapi/routing/routing.go
  go.mod
  go.sum
  internal/setup/monolith.go
  keyserver/internal/internal.go
  keyserver/keyserver.go
  sytest-whitelist
  userapi/api/api.go
  userapi/internal/api.go
  userapi/inthttp/client.go
  userapi/inthttp/server.go
  userapi/storage/devices/interface.go
  userapi/storage/devices/postgres/devices_table.go
  userapi/storage/devices/postgres/storage.go
  userapi/storage/devices/sqlite3/devices_table.go
  userapi/storage/devices/sqlite3/storage.go
Labels: component:federation, component:userapi

#1216 Add UNIQUE constraint to blacklist table
  federationsender/storage/postgres/blacklist_table.go
  federationsender/storage/sqlite3/blacklist_table.go
Labels: bug, component:federation

#1217 currentstate: Add QuerySharedUsers
  currentstateserver/api/api.go
  currentstateserver/currentstateserver_test.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  currentstateserver/storage/interface.go
  currentstateserver/storage/postgres/current_room_state_table.go
  currentstateserver/storage/shared/storage.go
  currentstateserver/storage/sqlite3/current_room_state_table.go
  currentstateserver/storage/tables/interface.go
Labels: component:current-state

#1218 keyserver: produce key change events
  build/gobind/monolith.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-key-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendritejs/main.go
  internal/config/config.go
  internal/config/config_test.go
  keyserver/internal/internal.go
  keyserver/keyserver.go
  keyserver/producers/keychange.go
  syncapi/consumers/keychange.go
Labels: component:keyserver, component:syncserver

#1219 Modify QuerySharedUsers to handle counts/include/exclude
  currentstateserver/api/api.go
  currentstateserver/currentstateserver_test.go
  currentstateserver/internal/api.go
  currentstateserver/storage/interface.go
  currentstateserver/storage/postgres/current_room_state_table.go
  currentstateserver/storage/shared/storage.go
  currentstateserver/storage/sqlite3/current_room_state_table.go
  currentstateserver/storage/tables/interface.go
Labels: component:current-state

#1220 Add logic for determining when device lists have changed due to membership changes
  internal/consumers.go
  syncapi/consumers/keychange.go
  syncapi/consumers/keychange_test.go
  syncapi/types/types.go
Labels: component:syncserver

#1221 Return HTTP errors when trying to kick invalid users
  clientapi/routing/membership.go
  clientapi/routing/routing.go
  sytest-whitelist
Labels: bug, component:clientapi

#1222 Modify /state/{eventType}/{stateKey} to return the event at the time the user left
  clientapi/routing/routing.go
  clientapi/routing/state.go
  roomserver/internal/query.go
  sytest-whitelist
Labels: component:clientapi

#1225 User directory
  clientapi/auth/authtypes/profile.go
  clientapi/routing/routing.go
  clientapi/routing/userdirectory.go
  currentstateserver/api/api.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  currentstateserver/storage/interface.go
  currentstateserver/storage/postgres/current_room_state_table.go
  currentstateserver/storage/shared/storage.go
  currentstateserver/storage/sqlite3/current_room_state_table.go
  currentstateserver/storage/tables/interface.go
  syncapi/consumers/keychange_test.go
  sytest-whitelist
  userapi/api/api.go
  userapi/internal/api.go
  userapi/inthttp/client.go
  userapi/inthttp/server.go
  userapi/storage/accounts/interface.go
  userapi/storage/accounts/postgres/profile_table.go
  userapi/storage/accounts/postgres/storage.go
  userapi/storage/accounts/sqlite3/profile_table.go
  userapi/storage/accounts/sqlite3/storage.go
Labels: component:clientapi, component:current-state, component:userapi

#1226 Persist partition|offset|user_id in the keyserver
  keyserver/keyserver.go
  keyserver/producers/keychange.go
  keyserver/storage/interface.go
  keyserver/storage/postgres/key_changes_table.go
  keyserver/storage/postgres/storage.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/key_changes_table.go
  keyserver/storage/sqlite3/storage.go
  keyserver/storage/storage_test.go
  keyserver/storage/tables/interface.go
Labels: component:keyserver

#1228 Add QueryKeyChanges
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/inthttp/client.go
  keyserver/inthttp/server.go
  syncapi/consumers/keychange.go
  syncapi/consumers/keychange_test.go
Labels: component:keyserver

#1229 Add support for logs in StreamingToken
  syncapi/consumers/clientapi.go
  syncapi/consumers/eduserver_sendtodevice.go
  syncapi/consumers/eduserver_typing.go
  syncapi/consumers/keychange_test.go
  syncapi/consumers/roomserver.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/storage_test.go
  syncapi/sync/notifier_test.go
  syncapi/sync/request.go
  syncapi/sync/requestpool.go
  syncapi/types/types.go
  syncapi/types/types_test.go
Labels: component:syncserver

#1231 Hook up device list updates to the sync notifier
  cmd/dendrite-sync-api-server/main.go
  internal/setup/monolith.go
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/producers/keychange.go
  syncapi/consumers/keychange.go
  syncapi/internal/keychange.go
  syncapi/internal/keychange_test.go
  syncapi/sync/notifier.go
  syncapi/sync/requestpool.go
  syncapi/syncapi.go
  syncapi/types/types.go
  sytest-whitelist
Labels: component:keyserver, component:syncserver

#1232 Implement /keys/changes
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/storage/interface.go
  keyserver/storage/postgres/key_changes_table.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/key_changes_table.go
  keyserver/storage/storage_test.go
  keyserver/storage/tables/interface.go
  syncapi/internal/keychange.go
  syncapi/internal/keychange_test.go
  syncapi/routing/routing.go
  syncapi/sync/requestpool.go
  syncapi/types/types.go
  syncapi/types/types_test.go
  sytest-whitelist
Labels: component:keyserver, component:syncserver

#1233 Notify clients when devices are deleted
  build/gobind/monolith.go
  clientapi/routing/device.go
  clientapi/routing/routing.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-key-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-user-api-server/main.go
  cmd/dendritejs/main.go
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/inthttp/client.go
  keyserver/keyserver.go
  keyserver/producers/keychange.go
  keyserver/storage/interface.go
  syncapi/consumers/roomserver.go
  syncapi/internal/keychange_test.go
  syncapi/syncapi.go
  sytest-whitelist
  userapi/api/api.go
  userapi/internal/api.go
  userapi/inthttp/client.go
  userapi/inthttp/server.go
  userapi/userapi.go
  userapi/userapi_test.go
Labels: component:keyserver, component:syncserver, component:userapi

#1234 Fix edge cases around device lists
  clientapi/routing/device.go
  clientapi/routing/login.go
  clientapi/routing/routing.go
  currentstateserver/currentstateserver_test.go
  keyserver/internal/internal.go
  syncapi/internal/keychange.go
  syncapi/sync/requestpool.go
  sytest-whitelist
  userapi/api/api.go
  userapi/internal/api.go
  userapi/inthttp/client.go
  userapi/inthttp/server.go
  userapi/storage/devices/sqlite3/devices_table.go
Labels: component:clientapi, component:keyserver, component:syncserver, component:userapi
