Repository matrix-org/dendrite, pull requests merged in 2020-04, with the labels that each got.

#960 Are we synapse yet?
  are-we-synapse-yet.list
  are-we-synapse-yet.py
Labels: Documentation, maintenance

#957 Set default room version to 4
  go.mod
  go.sum
  roomserver/storage/postgres/storage.go
  roomserver/storage/sqlite3/storage.go
  roomserver/version/version.go
Labels: component:roomserver

#974 Add login sytests
  sytest-whitelist
Labels: tests

#976 LRU cache for room versions in RS query API
  cmd/roomserver-integration-tests/main.go
  common/basecomponent/base.go
  common/caching/immutablecache.go
  common/caching/immutableinmemorylru.go
  roomserver/api/query.go
  roomserver/query/query.go
  roomserver/roomserver.go
Labels: component:roomserver

#978 roomserver: Use a single storage.Database interface
  roomserver/input/authevents.go
  roomserver/input/events.go
  roomserver/input/input.go
  roomserver/input/latest_events.go
  roomserver/input/membership.go
  roomserver/query/query.go
  roomserver/query/query_test.go
  roomserver/state/database/database.go
  roomserver/state/shared/shared.go
  roomserver/state/state.go
  roomserver/storage/interface.go
Labels: component:roomserver, maintenance

#984 Fix URLDecodeMapValues
  common/routing.go
  go.mod
  go.sum
Labels: bug

#987 Dependency inject the federation client so p2p binaries work as expected
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-room-server/main.go
  cmd/dendritejs/main.go
  roomserver/roomserver.go
Labels: bug

#995 Add tests for the storage interface
  syncapi/storage/interface.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/storage_test.go
Labels: component:syncserver, tests
