Repository matrix-org/dendrite, pull requests merged in 2020-09, with the labels that each got.

#1372 Update dependencies
  go.mod
  go.sum
Labels: maintenance

#1373 Storage tweaks
  syncapi/storage/postgres/invites_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/invites_table.go
  syncapi/storage/tables/interface.go
  userapi/storage/accounts/sqlite3/account_data_table.go
  userapi/storage/accounts/sqlite3/accounts_table.go
  userapi/storage/accounts/sqlite3/profile_table.go
  userapi/storage/accounts/sqlite3/storage.go
  userapi/storage/accounts/sqlite3/threepid_table.go
Labels: maintenance

#1367 Add RoomInfo metadata struct
  roomserver/internal/perform_backfill.go
  roomserver/internal/perform_invite.go
  roomserver/internal/perform_leave.go
  roomserver/internal/query.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/rooms_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/tables/interface.go
  roomserver/types/types.go
Labels: component:roomserver, maintenance

#1375 Name consumers
  appservice/consumers/roomserver.go
  currentstateserver/consumers/roomserver.go
  federationsender/consumers/eduserver.go
  federationsender/consumers/keychange.go
  federationsender/consumers/roomserver.go
  internal/consumers.go
  syncapi/consumers/clientapi.go
  syncapi/consumers/eduserver_sendtodevice.go
  syncapi/consumers/eduserver_typing.go
  syncapi/consumers/keychange.go
  syncapi/consumers/roomserver.go
Labels: maintenance

#1376 Fix duplicate writers
  currentstateserver/storage/sqlite3/current_room_state_table.go
  roomserver/storage/sqlite3/storage.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/sqlite3/syncserver.go
Labels: bug

#1378 Put redactions/filters in the writer goroutine
  syncapi/storage/shared/syncserver.go
Labels: bug, component:syncserver

#1377 Expand RoomInfo to cover more DB storage functions
  roomserver/internal/alias.go
  roomserver/internal/input_events.go
  roomserver/internal/input_latest_events.go
  roomserver/internal/perform_backfill.go
  roomserver/internal/perform_invite.go
  roomserver/internal/query.go
  roomserver/state/state.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/rooms_table.go
  roomserver/storage/shared/latest_events_updater.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver

#1380 Refactor roomserver/internal - split perform stuff out
  build/scripts/complement.sh
  roomserver/internal/api.go
  roomserver/internal/helpers/auth.go
  roomserver/internal/helpers/auth_test.go
  roomserver/internal/helpers/helpers.go
  roomserver/internal/input.go
  roomserver/internal/input_events.go
  roomserver/internal/input_membership.go
  roomserver/internal/perform/perform_backfill.go
  roomserver/internal/perform/perform_invite.go
  roomserver/internal/perform/perform_join.go
  roomserver/internal/perform/perform_leave.go
  roomserver/internal/perform/perform_publish.go
  roomserver/internal/query.go
  roomserver/roomserver.go
Labels: component:roomserver, maintenance

#1379 Use federation sender for backfill/getting missing events
  build/gobind/monolith.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-room-server/main.go
  cmd/dendritejs/main.go
  federationsender/api/api.go
  federationsender/internal/api.go
  federationsender/inthttp/client.go
  federationsender/inthttp/server.go
  go.mod
  go.sum
  roomserver/internal/api.go
  roomserver/internal/perform/perform_backfill.go
  roomserver/roomserver.go
  roomserver/roomserver_test.go
Labels: component:federation, component:roomserver

#1383 Version imprint
  build.sh
  federationapi/routing/version.go
  internal/setup/base.go
  internal/version.go
Labels: maintenance

#1384 Remove unnecessary "stages" key from login flow
  clientapi/routing/login.go
Labels: component:clientapi

#1382 Add Queryer and Inputer and factor out more RSAPI stuff
  clientapi/routing/membership.go
  clientapi/routing/profile.go
  clientapi/routing/redaction.go
  clientapi/routing/sendevent.go
  clientapi/threepid/invites.go
  federationapi/routing/join.go
  federationapi/routing/leave.go
  internal/eventutil/events.go
  roomserver/internal/api.go
  roomserver/internal/helpers/helpers.go
  roomserver/internal/input/input.go
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_latest_events.go
  roomserver/internal/input/input_membership.go
  roomserver/internal/perform/perform_backfill.go
  roomserver/internal/perform/perform_invite.go
  roomserver/internal/perform/perform_join.go
  roomserver/internal/perform/perform_leave.go
  roomserver/internal/perform/perform_publish.go
  roomserver/internal/query/query.go
  roomserver/internal/query/query_test.go
Labels: component:roomserver, maintenance

#1385 Rate limiting
  build/scripts/Complement.Dockerfile
  clientapi/routing/rate_limiting.go
  clientapi/routing/routing.go
  cmd/generate-config/main.go
  dendrite-config.yaml
  internal/config/config_clientapi.go
Labels: component:clientapi

#1386 FIFO ordering of input events
  clientapi/routing/createroom.go
  clientapi/routing/membership.go
  clientapi/routing/profile.go
  clientapi/routing/redaction.go
  clientapi/routing/sendevent.go
  clientapi/threepid/invites.go
  federationapi/routing/join.go
  federationapi/routing/leave.go
  federationapi/routing/send.go
  federationapi/routing/threepid.go
  roomserver/api/input.go
  roomserver/api/wrapper.go
  roomserver/internal/input/input.go
  roomserver/internal/input/input_events.go
  roomserver/roomserver_test.go
Labels: component:roomserver

#1388 Implement more CSS storage functions in roomserver
  roomserver/storage/postgres/membership_table.go
  roomserver/storage/postgres/rooms_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/membership_table.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver

#1389 Delay keyserver and federationsender wakeups
  federationsender/queue/queue.go
  keyserver/keyserver.go
Labels: component:federation, component:keyserver, maintenance

#1390 Remove ServerACLs from the current state server
  currentstateserver/acls/acls.go
  currentstateserver/acls/acls_test.go
  currentstateserver/api/api.go
  currentstateserver/api/wrapper.go
  currentstateserver/consumers/roomserver.go
  currentstateserver/currentstateserver.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  federationapi/routing/routing.go
  federationapi/routing/send.go
  federationapi/routing/send_test.go
  federationsender/federationsender.go
  federationsender/queue/queue.go
  roomserver/internal/api.go
  roomserver/internal/input/input.go
  syncapi/internal/keychange_test.go
Labels: component:current-state, component:roomserver

#1394 Sync bug fixes
  syncapi/storage/shared/syncserver.go
Labels: bug, component:syncserver

#1393 Remove QueryKnownUsers from current state server
  clientapi/routing/routing.go
  clientapi/routing/userdirectory.go
  currentstateserver/api/api.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  roomserver/inthttp/server.go
  syncapi/internal/keychange_test.go
Labels: component:current-state

#1395 Remove QueryCurrentState from current-state-server
  clientapi/routing/directory.go
  clientapi/routing/membership.go
  clientapi/routing/redaction.go
  clientapi/routing/routing.go
  clientapi/routing/sendtyping.go
  currentstateserver/api/api.go
  currentstateserver/api/wrapper.go
  currentstateserver/currentstateserver_test.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  syncapi/internal/keychange_test.go
Labels: component:current-state

#1396 Remove QuerySharedUsers from current state server
  currentstateserver/api/api.go
  currentstateserver/currentstateserver_test.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  roomserver/storage/postgres/rooms_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/membership_table.go
  syncapi/consumers/keychange.go
  syncapi/internal/keychange.go
  syncapi/internal/keychange_test.go
  syncapi/sync/requestpool.go
  syncapi/syncapi.go
Labels: component:current-state

#1397 Password changes
  clientapi/auth/authtypes/logintypes.go
  clientapi/routing/password.go
  clientapi/routing/routing.go
  sytest-whitelist
  userapi/api/api.go
  userapi/internal/api.go
  userapi/inthttp/client.go
  userapi/inthttp/server.go
  userapi/storage/accounts/interface.go
  userapi/storage/accounts/postgres/accounts_table.go
  userapi/storage/accounts/postgres/storage.go
  userapi/storage/accounts/sqlite3/accounts_table.go
  userapi/storage/accounts/sqlite3/storage.go
  userapi/storage/devices/interface.go
  userapi/storage/devices/postgres/devices_table.go
  userapi/storage/devices/postgres/storage.go
  userapi/storage/devices/sqlite3/devices_table.go
  userapi/storage/devices/sqlite3/storage.go
Labels: component:clientapi, component:userapi

#1398 Remove QueryRoomsForUser from current state server
  build/gobind/monolith.go
  clientapi/routing/memberships.go
  clientapi/routing/profile.go
  clientapi/routing/routing.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-federation-sender-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendritejs/main.go
  currentstateserver/api/api.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  federationsender/consumers/keychange.go
  federationsender/federationsender.go
  syncapi/internal/keychange_test.go
Labels: component:current-state

#1399 Update GetStateEvent behaviour
  roomserver/storage/shared/storage.go
Labels: component:roomserver

#1403 Use background context when processing event with missing state
  federationapi/routing/send.go
  federationapi/routing/send_test.go
Labels: component:federation

#1404 Remove QueryBulkStateContent from current state server
  clientapi/routing/directory_public.go
  clientapi/routing/routing.go
  cmd/dendrite-demo-libp2p/publicrooms.go
  currentstateserver/api/api.go
  currentstateserver/api/wrapper.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  federationapi/routing/publicrooms.go
  federationapi/routing/routing.go
  roomserver/api/query.go
  roomserver/internal/query/query.go
  roomserver/storage/interface.go
  roomserver/storage/shared/storage.go
  roomserver/storage/tables/interface.go
  syncapi/consumers/keychange.go
  syncapi/internal/keychange.go
  syncapi/internal/keychange_test.go
  syncapi/sync/requestpool.go
Labels: component:current-state, component:roomserver

#1405 Remove current state server
  build/docker/config/dendrite-config.yaml
  build/docker/docker-compose.polylith.yml
  build/docker/images-build.sh
  build/docker/images-pull.sh
  build/docker/images-push.sh
  build/docker/postgres/create_db.sh
  build/gobind/monolith.go
  clientapi/clientapi.go
  clientapi/routing/directory.go
  clientapi/routing/profile.go
  clientapi/routing/routing.go
  cmd/dendrite-client-api-server/main.go
  cmd/dendrite-current-state-server/main.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-libp2p/publicrooms.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-federation-api-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-sync-api-server/main.go
  cmd/dendritejs/main.go
  currentstateserver/api/api.go
  currentstateserver/consumers/roomserver.go
  currentstateserver/currentstateserver.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  currentstateserver/storage/interface.go
  currentstateserver/storage/postgres/current_room_state_table.go
  currentstateserver/storage/postgres/storage.go
  currentstateserver/storage/shared/storage.go
  currentstateserver/storage/sqlite3/current_room_state_table.go
  currentstateserver/storage/sqlite3/storage.go
  currentstateserver/storage/storage.go
  currentstateserver/storage/storage_wasm.go
  currentstateserver/storage/tables/interface.go
  dendrite-config.yaml
  docs/INSTALL.md
  federationapi/federationapi.go
  federationapi/federationapi_test.go
  federationapi/routing/routing.go
  internal/config/config.go
  internal/config/config_currentstate.go
  internal/setup/base.go
  internal/setup/monolith.go
  internal/test/config.go
  syncapi/consumers/keychange.go
  syncapi/sync/requestpool.go
  syncapi/syncapi.go
Labels: component:current-state

#1407 Ignore state events with invalid signatures when joining rooms
  federationsender/internal/perform.go
  federationsender/internal/perform/join.go
  go.mod
  go.sum
Labels: bug, component:federation

#1410 Backoff for 401s
  federationsender/api/api.go
  federationsender/internal/api.go
Labels: component:federation

#1413 Track goids when running with tracing enabled
  internal/sqlutil/trace.go
  internal/sqlutil/writer_exclusive.go
Labels: maintenance

#1412 Exclude deleted keys from selectBatchDeviceKeysSQL
  keyserver/storage/postgres/device_keys_table.go
  keyserver/storage/sqlite3/device_keys_table.go
Labels: component:keyserver

#1414 Process membership updates in writers
  roomserver/storage/shared/membership_updater.go
Labels: bug, component:roomserver

#1416 Add support for database migrations
  cmd/goose/README.md
  cmd/goose/main.go
  go.mod
  go.sum
Labels: Documentation

#1420 Add hardware requirements; fixes #324
  README.md
Labels: Documentation

#1415 Handle state with input event as new events
  federationsender/internal/perform.go
  roomserver/api/input.go
  roomserver/api/output.go
  roomserver/api/wrapper.go
  roomserver/internal/helpers/auth.go
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_latest_events.go
  roomserver/internal/perform/perform_join.go
  roomserver/roomserver_test.go
  roomserver/types/types.go
  roomserver/types/types_test.go
  syncapi/consumers/roomserver.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/backwards_extremities_table.go
  syncapi/storage/postgres/current_room_state_table.go
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/postgres/output_room_events_topology_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/backwards_extremities_table.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/storage/sqlite3/output_room_events_topology_table.go
  syncapi/storage/tables/interface.go
Labels: component:roomserver

#1426 Implement rejected events
  cmd/roomserver-integration-tests/main.go
  federationapi/routing/send.go
  federationapi/routing/send_test.go
  roomserver/api/api.go
  roomserver/api/api_trace.go
  roomserver/api/input.go
  roomserver/api/wrapper.go
  roomserver/internal/alias.go
  roomserver/internal/input/input.go
  roomserver/internal/input/input_events.go
  roomserver/internal/perform/perform_backfill.go
  roomserver/internal/perform/perform_invite.go
  roomserver/internal/perform/perform_join.go
  roomserver/internal/perform/perform_leave.go
  roomserver/internal/query/query.go
  roomserver/inthttp/client.go
  roomserver/inthttp/server.go
  roomserver/roomserver_test.go
  roomserver/state/state.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/events_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/tables/interface.go
  roomserver/types/types.go
  sytest-blacklist
  sytest-whitelist
Labels: are-we-synapse-yet

#1431 Refactor backoff again
  federationsender/queue/destinationqueue.go
  federationsender/statistics/statistics.go
  federationsender/statistics/statistics_test.go
Labels: component:federation

#1364 Soft-fail
  roomserver/api/wrapper.go
  roomserver/internal/helpers/auth.go
  roomserver/internal/input/input_events.go
  roomserver/storage/sqlite3/previous_events_table.go
  sytest-blacklist
  sytest-whitelist
Labels: component:roomserver

#1434 Process federated joins in background context
  federationsender/internal/api.go
  federationsender/internal/perform.go
Labels: component:federation

#1436 Initial notary support
  federationapi/routing/keys.go
  federationapi/routing/routing.go
  federationsender/api/api.go
  federationsender/internal/api.go
  federationsender/inthttp/client.go
  federationsender/inthttp/server.go
  go.mod
  go.sum
  serverkeyapi/internal/api.go
  serverkeyapi/serverkeyapi.go
  sytest-whitelist
Labels: component:federation, component:serverkeyapi

#1439 Reject make_join for empty rooms
  federationapi/routing/join.go
  federationapi/routing/send_test.go
  roomserver/api/api.go
  roomserver/api/api_trace.go
  roomserver/api/query.go
  roomserver/internal/query/query.go
  roomserver/inthttp/client.go
  roomserver/inthttp/server.go
  sytest-whitelist
Labels: component:federation, component:roomserver

#1440 Return the correct error codes for v6 invite JSON violations
  federationapi/routing/invite.go
  federationapi/routing/leave.go
  sytest-whitelist
Labels: component:federation, spec-compliance

#1443 Allow configuring old verify keys
  dendrite-config.yaml
  federationapi/routing/keys.go
  internal/config/config.go
  internal/config/config_global.go
  internal/config/config_test.go
Labels: component:federation

#1438 Set default room version to v6
  roomserver/version/version.go
Labels: component:roomserver, maintenance

#1446 Don't fall back to /state on incoming /send
  federationapi/routing/send.go
Labels: component:federation

#1447 Use workers when fetching events from /state_ids, use /state only if significant portion of events missing
  federationapi/routing/send.go
Labels: component:federation

#1450 Fetch missing auth events, implement QueryMissingAuthPrevEvents, try other servers in room for /event and /get_missing_events
  federationapi/routing/send.go
  federationapi/routing/send_test.go
  roomserver/api/api.go
  roomserver/api/api_trace.go
  roomserver/api/query.go
  roomserver/internal/helpers/auth.go
  roomserver/internal/input/input_events.go
  roomserver/internal/perform/perform_invite.go
  roomserver/internal/perform/perform_join.go
  roomserver/internal/query/query.go
  roomserver/inthttp/client.go
  roomserver/inthttp/server.go
Labels: component:federation, component:roomserver

#1451 Ignore depth in federation API
  federationapi/routing/missingevents.go
  federationapi/routing/send.go
Labels: component:federation

#1452 Remove TLS fingerprints, improve perspective unmarshal handling
  dendrite-config.yaml
  federationapi/routing/keys.go
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_federationapi.go
  internal/config/config_serverkey.go
  internal/config/config_test.go
  serverkeyapi/internal/api.go
  serverkeyapi/serverkeyapi.go
Labels: component:serverkeyapi

#1454 Consider old keys in handleLocalKeys
  serverkeyapi/internal/api.go
  serverkeyapi/serverkeyapi.go
Labels: component:serverkeyapi
