Repository matrix-org/dendrite, pull requests merged in 2020-05, with the labels that each got.

#996 Correctly generate backpagination tokens for events which have the same depth
  syncapi/routing/messages.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/postgres/output_room_events_topology_table.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/storage/sqlite3/output_room_events_topology_table.go
  syncapi/storage/sqlite3/syncserver.go
  syncapi/storage/storage_test.go
  syncapi/types/types.go
Labels: bug, component:syncserver

#997 Rename queue package to internal
  federationsender/federationsender.go
  federationsender/internal/api.go
  federationsender/internal/perform.go
  federationsender/internal/perform/join.go
  federationsender/internal/query.go
Labels: component:federation

#1001 Roomserver perform join
  clientapi/jsonerror/jsonerror.go
  clientapi/routing/joinroom.go
  clientapi/routing/routing.go
  federationapi/routing/join.go
  federationsender/api/api.go
  federationsender/api/perform.go
  federationsender/internal/perform.go
  federationsender/types/types.go
  roomserver/api/api.go
  roomserver/api/perform.go
  roomserver/internal/api.go
  roomserver/internal/perform_join.go
Labels: component:clientapi, component:roomserver

#1010 Add tests around federationapi's txnReq
  federationapi/routing/send.go
  federationapi/routing/send_test.go
Labels: component:federation, tests

#1007 Improve federation sender performance, implement backoff and blacklisting, fix up invites a bit
  federationsender/consumers/roomserver.go
  federationsender/federationsender.go
  federationsender/internal/api.go
  federationsender/internal/perform.go
  federationsender/producers/roomserver.go
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
  federationsender/types/statistics.go
  roomserver/internal/input.go
  roomserver/internal/input_events.go
Labels: component:federation

#1026 Fix #1015
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/sqlite3/syncserver.go
Labels: bug, component:syncserver

#1031 Factor out account data and events table
  syncapi/storage/postgres/account_data_table.go
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/account_data_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/storage/sqlite3/syncserver.go
  syncapi/storage/tables/interface.go
Labels: component:syncserver, maintenance

#1033 Finish merging syncserver.go
  syncapi/storage/postgres/backwards_extremities_table.go
  syncapi/storage/postgres/current_room_state_table.go
  syncapi/storage/postgres/output_room_events_topology_table.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/backwards_extremities_table.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/sqlite3/output_room_events_topology_table.go
  syncapi/storage/sqlite3/syncserver.go
  syncapi/storage/storage.go
  syncapi/storage/storage_test.go
  syncapi/storage/storage_wasm.go
  syncapi/storage/tables/backward_extremities.go
  syncapi/storage/tables/interface.go
Labels: component:syncserver, maintenance

#1040 Return user_id and stream_id in federated devices query
  federationapi/routing/devices.go
Labels: bug

#1043 Fix a bug whereby backfilling could leak events across rooms
  syncapi/storage/postgres/output_room_events_topology_table.go
  syncapi/storage/sqlite3/output_room_events_topology_table.go
  syncapi/storage/storage_test.go
Labels: bug, component:syncserver

#1045 Tweaks to latest events updater
  roomserver/internal/input_events.go
  roomserver/internal/input_latest_events.go
  roomserver/internal/input_membership.go
  roomserver/types/types.go
Labels: component:roomserver

#1049 Make "Outbound federation can backfill events" pass sytest
  roomserver/internal/query.go
  roomserver/internal/query_backfill.go
  syncapi/routing/messages.go
  sytest-whitelist
Labels: bug, component:roomserver, tests

#1051 sytest: Make 'Inbound federation can backfill events' pass
  federationapi/routing/backfill.go
  roomserver/api/query.go
  roomserver/internal/query.go
  roomserver/internal/query_backfill.go
  syncapi/routing/messages.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/backwards_extremities_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/backwards_extremities_table.go
  syncapi/storage/tables/interface.go
  sytest-whitelist
Labels: tests

#1052 sytest: Add remaining backfill tests
  federationapi/routing/backfill.go
  syncapi/sync/request.go
  syncapi/sync/requestpool.go
  sytest-whitelist
Labels: bug, component:federation, component:syncserver, tests

#1047 Use memberships to determine whether to reset latest events/state on room join
  roomserver/internal/input.go
  roomserver/internal/input_events.go
  roomserver/internal/input_latest_events.go
  roomserver/internal/input_membership.go
  roomserver/internal/query.go
  roomserver/internal/query_backfill.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/membership_table.go
  roomserver/storage/postgres/storage.go
  roomserver/storage/sqlite3/membership_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/types/types.go
Labels: changes database schema

#1058 dendritejs tweaks for persisting sqlite DBs
  appservice/storage/storage_wasm.go
  clientapi/auth/storage/accounts/storage_wasm.go
  clientapi/auth/storage/devices/storage_wasm.go
  cmd/dendritejs/main.go
  federationsender/storage/storage_wasm.go
  go.mod
  go.sum
  internal/basecomponent/base.go
  internal/keydb/keydb_wasm.go
  mediaapi/storage/storage_wasm.go
  publicroomsapi/storage/storage_wasm.go
Labels: component:p2p

#1061 roomserver: start refactoring storage layer
  roomserver/storage/postgres/event_state_keys_table.go
  roomserver/storage/postgres/event_types_table.go
  roomserver/storage/postgres/sql.go
  roomserver/storage/postgres/storage.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/event_state_keys_table.go
  roomserver/storage/sqlite3/event_types_table.go
  roomserver/storage/sqlite3/sql.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver, maintenance

#1062 Convert events/event_json tables to share code
  roomserver/storage/postgres/event_json_table.go
  roomserver/storage/postgres/events_table.go
  roomserver/storage/postgres/sql.go
  roomserver/storage/postgres/storage.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/event_json_table.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/sql.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver, maintenance

#1063 Convert transactions/rooms table to share more code
  roomserver/storage/postgres/events_table.go
  roomserver/storage/postgres/rooms_table.go
  roomserver/storage/postgres/sql.go
  roomserver/storage/postgres/storage.go
  roomserver/storage/postgres/transactions_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/sqlite3/sql.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/sqlite3/transactions_table.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver, maintenance

#1064 Convert room_aliases previous_events state_block and state_snapshot tables
  roomserver/storage/postgres/previous_events_table.go
  roomserver/storage/postgres/room_aliases_table.go
  roomserver/storage/postgres/sql.go
  roomserver/storage/postgres/state_block_table.go
  roomserver/storage/postgres/state_snapshot_table.go
  roomserver/storage/postgres/storage.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/previous_events_table.go
  roomserver/storage/sqlite3/room_aliases_table.go
  roomserver/storage/sqlite3/sql.go
  roomserver/storage/sqlite3/state_block_table.go
  roomserver/storage/sqlite3/state_snapshot_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver, maintenance

#1065 Convert remaining roomserver tables
  roomserver/storage/interface.go
  roomserver/storage/postgres/event_json_table.go
  roomserver/storage/postgres/event_state_keys_table.go
  roomserver/storage/postgres/event_types_table.go
  roomserver/storage/postgres/events_table.go
  roomserver/storage/postgres/invite_table.go
  roomserver/storage/postgres/membership_table.go
  roomserver/storage/postgres/prepare.go
  roomserver/storage/postgres/previous_events_table.go
  roomserver/storage/postgres/room_aliases_table.go
  roomserver/storage/postgres/rooms_table.go
  roomserver/storage/postgres/sql.go
  roomserver/storage/postgres/state_block_table.go
  roomserver/storage/postgres/state_snapshot_table.go
  roomserver/storage/postgres/storage.go
  roomserver/storage/postgres/transactions_table.go
  roomserver/storage/shared/prepare.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/event_json_table.go
  roomserver/storage/sqlite3/event_state_keys_table.go
  roomserver/storage/sqlite3/event_types_table.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/invite_table.go
  roomserver/storage/sqlite3/membership_table.go
  roomserver/storage/sqlite3/previous_events_table.go
  roomserver/storage/sqlite3/room_aliases_table.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/sqlite3/sql.go
  roomserver/storage/sqlite3/state_block_table.go
  roomserver/storage/sqlite3/state_snapshot_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/sqlite3/transactions_table.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver, maintenance

#1067 Fix batching in federation sender
  federationsender/queue/destinationqueue.go
Labels: component:federation

#1068 Per-user-per-device sync streams
  build/scripts/build-test-lint.sh
  syncapi/storage/interface.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/storage_test.go
  syncapi/sync/notifier.go
  syncapi/sync/notifier_test.go
  syncapi/sync/requestpool.go
  syncapi/sync/userstream.go
Labels: component:syncserver

#1069 Merge Updater structs
  go.sum
  roomserver/storage/postgres/storage.go
  roomserver/storage/shared/membership_updater.go
  roomserver/storage/shared/prepare.go
  roomserver/storage/shared/room_recent_events_updater.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/invite_table.go
  roomserver/storage/sqlite3/storage.go
Labels: component:roomserver, maintenance

#1073 fedsender: de-duplicate without sorting server names
  federationsender/api/perform.go
  federationsender/internal/perform.go
Labels: component:federation

#1074 p2p: de-dupe and shuffle public rooms; implement keydb
  cmd/dendritejs/keyfetcher.go
  cmd/dendritejs/main.go
  publicroomsapi/directory/public_rooms.go
Labels: bug, component:p2p
