Repository matrix-org/dendrite, pull requests merged in 2020-08, with the labels that each got.

#1235 Produce OTK counts in /sync response
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/inthttp/client.go
  keyserver/inthttp/server.go
  keyserver/storage/interface.go
  keyserver/storage/postgres/one_time_keys_table.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/one_time_keys_table.go
  keyserver/storage/tables/interface.go
  syncapi/internal/keychange.go
  syncapi/internal/keychange_test.go
  syncapi/sync/requestpool.go
  syncapi/types/types.go
Labels: component:keyserver, component:syncserver

#1236 Generate stream IDs for locally uploaded device keys
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/producers/keychange.go
  keyserver/storage/interface.go
  keyserver/storage/postgres/device_keys_table.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/device_keys_table.go
  keyserver/storage/storage_test.go
  keyserver/storage/tables/interface.go
  syncapi/consumers/keychange.go
  sytest-whitelist
Labels: changes database schema, component:keyserver

#1237 Send device list updates to servers (outbound only)
  build/gobind/monolith.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-federation-sender-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendritejs/main.go
  federationapi/routing/devices.go
  federationapi/routing/routing.go
  federationsender/consumers/keychange.go
  federationsender/federationsender.go
  federationsender/storage/interface.go
  federationsender/storage/postgres/joined_hosts_table.go
  federationsender/storage/shared/storage.go
  federationsender/storage/sqlite3/joined_hosts_table.go
  federationsender/storage/tables/interface.go
  go.mod
  go.sum
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/inthttp/client.go
  keyserver/inthttp/server.go
  syncapi/internal/keychange_test.go
Labels: component:federation, component:keyserver

#1240 Process inbound device list updates from federation
  federationapi/routing/routing.go
  federationapi/routing/send.go
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/inthttp/client.go
  keyserver/inthttp/server.go
  keyserver/keyserver.go
  keyserver/storage/interface.go
  keyserver/storage/postgres/device_keys_table.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/device_keys_table.go
  keyserver/storage/storage_test.go
  keyserver/storage/tables/interface.go
  syncapi/internal/keychange_test.go
Labels: component:federation, component:keyserver

#1241 Yggdrasil demo updates
  build/gobind/monolith.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-demo-yggdrasil/yggconn/client.go
  cmd/dendrite-demo-yggdrasil/yggconn/node.go
  cmd/dendrite-demo-yggdrasil/yggconn/session.go
  federationsender/internal/perform.go
  go.mod
  go.sum
Labels: demo:yggdrasil

#1242 Add device list updater which manages updating remote device lists
  go.mod
  go.sum
  keyserver/internal/device_list_update.go
  keyserver/internal/internal.go
  keyserver/keyserver.go
  keyserver/storage/interface.go
  keyserver/storage/shared/storage.go
Labels: component:keyserver

#1243 Finish inbound E2E device lists
  keyserver/internal/device_list_update.go
  keyserver/internal/device_list_update_test.go
  keyserver/internal/internal.go
  keyserver/storage/postgres/device_keys_table.go
  keyserver/storage/postgres/stale_device_lists.go
  keyserver/storage/postgres/storage.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/device_keys_table.go
  keyserver/storage/sqlite3/one_time_keys_table.go
  keyserver/storage/sqlite3/stale_device_lists.go
  keyserver/storage/sqlite3/storage.go
  keyserver/storage/tables/interface.go
  syncapi/internal/keychange.go
  syncapi/types/types.go
  sytest-whitelist
Labels: changes database schema, component:keyserver

#1250 Backoff fixes
  federationsender/queue/destinationqueue.go
  federationsender/statistics/statistics.go
  federationsender/statistics/statistics_test.go
Labels: component:federation

#1253 bugfix: when a user's key changes, don't notify everyone on the server
  syncapi/internal/keychange.go
  sytest-whitelist
  userapi/internal/api.go
Labels: bug, component:syncserver

#1254 Prefix-defined Kafka topics
  appservice/consumers/roomserver.go
  build/gobind/monolith.go
  clientapi/clientapi.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendritejs/main.go
  cmd/roomserver-integration-tests/main.go
  cmd/syncserver-integration-tests/main.go
  currentstateserver/currentstateserver.go
  currentstateserver/currentstateserver_test.go
  eduserver/eduserver.go
  federationsender/consumers/eduserver.go
  federationsender/consumers/keychange.go
  federationsender/consumers/roomserver.go
  internal/config/config_global.go
  internal/config/config_kafka.go
  keyserver/keyserver.go
  roomserver/roomserver.go
  roomserver/roomserver_test.go
  syncapi/consumers/clientapi.go
  syncapi/consumers/eduserver_sendtodevice.go
  syncapi/consumers/eduserver_typing.go
  syncapi/consumers/roomserver.go
  syncapi/syncapi.go
Labels: maintenance

#1257 Reduce cooldown to make sure sytest doesn't give up
  keyserver/internal/device_list_update.go
  sytest-whitelist
Labels: component:keyserver

#1258 New sample config
  cmd/generate-config/main.go
  dendrite-config.yaml
  internal/config/config.go
  internal/config/config_clientapi.go
  internal/config/config_global.go
  internal/config/config_kafka.go
  internal/config/config_serverkey.go
  internal/config/config_test.go
Labels: maintenance

#1261 Support for server ACLs
  currentstateserver/acls/acls.go
  currentstateserver/acls/acls_test.go
  currentstateserver/api/api.go
  currentstateserver/api/wrapper.go
  currentstateserver/consumers/roomserver.go
  currentstateserver/currentstateserver.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  currentstateserver/storage/interface.go
  currentstateserver/storage/postgres/current_room_state_table.go
  currentstateserver/storage/shared/storage.go
  currentstateserver/storage/sqlite3/current_room_state_table.go
  currentstateserver/storage/tables/interface.go
  federationapi/federationapi.go
  federationapi/routing/routing.go
  federationapi/routing/send.go
  federationapi/routing/send_test.go
  syncapi/internal/keychange_test.go
  sytest-whitelist
Labels: component:current-state, component:federation

#1262 Bugfixes for 'If remote user leaves room we no longer receive device updates'
  README.md
  are-we-synapse-yet.list
  keyserver/internal/device_list_update.go
  syncapi/internal/keychange.go
  sytest-whitelist
Labels: bug, component:keyserver, component:syncserver

#1263 Deflake currentstateserver integration tests
  currentstateserver/currentstateserver_test.go
Labels: bug, component:current-state, tests

#1264 Add sync mechanism to block when updating device lists
  keyserver/internal/device_list_update.go
  keyserver/internal/device_list_update_test.go
  sytest-whitelist
Labels: component:keyserver, tests

#1265 Fix more E2E sytests
  keyserver/api/api.go
  keyserver/internal/device_list_update.go
  keyserver/internal/device_list_update_test.go
  keyserver/internal/internal.go
  keyserver/storage/interface.go
  keyserver/storage/postgres/device_keys_table.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/device_keys_table.go
  keyserver/storage/tables/interface.go
  sytest-whitelist
  userapi/internal/api.go
Labels: bug, component:keyserver, component:userapi

#1266 API setup refactoring
  build/gobind/monolith.go
  clientapi/routing/routing.go
  cmd/dendrite-appservice-server/main.go
  cmd/dendrite-client-api-server/main.go
  cmd/dendrite-current-state-server/main.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-edu-server/main.go
  cmd/dendrite-federation-api-server/main.go
  cmd/dendrite-federation-sender-server/main.go
  cmd/dendrite-key-server/main.go
  cmd/dendrite-media-api-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-room-server/main.go
  cmd/dendrite-server-key-api-server/main.go
  cmd/dendrite-sync-api-server/main.go
  cmd/dendrite-user-api-server/main.go
  cmd/dendritejs/main.go
  cmd/generate-keys/main.go
  cmd/mediaapi-integration-tests/main.go
  cmd/roomserver-integration-tests/main.go
  cmd/syncserver-integration-tests/main.go
  dendrite-config.yaml
  federationapi/federationapi.go
  federationapi/federationapi_test.go
  federationapi/routing/routing.go
  federationsender/inthttp/server.go
  internal/config/config.go
  internal/config/config_appservice.go
  internal/config/config_clientapi.go
  internal/config/config_currentstate.go
  internal/config/config_eduserver.go
  internal/config/config_federationapi.go
  internal/config/config_federationsender.go
  internal/config/config_keyserver.go
  internal/config/config_mediaapi.go
  internal/config/config_roomserver.go
  internal/config/config_serverkey.go
  internal/config/config_syncapi.go
  internal/config/config_test.go
  internal/config/config_userapi.go
  internal/httputil/httpapi.go
  internal/httputil/paths.go
  internal/setup/base.go
  internal/setup/monolith.go
  internal/test/config.go
  internal/test/server.go
  mediaapi/routing/routing.go
  syncapi/routing/routing.go
Labels: design:components, maintenance

#1267 Don't send to ACL'd servers
  federationsender/federationsender.go
  federationsender/queue/queue.go
Labels: component:federation

#1268 Make 'Device list doesn't change if remote server is down' pass
  keyserver/internal/device_list_update.go
  keyserver/internal/internal.go
  sytest-whitelist
Labels: bug, component:keyserver

#1270 AWSY: new groups and add AS API section
  are-we-synapse-yet.list
  are-we-synapse-yet.py
Labels: Documentation

#1273 Synchronous invites
  clientapi/routing/createroom.go
  clientapi/routing/membership.go
  federationapi/routing/invite.go
  federationapi/routing/leave.go
  federationapi/routing/routing.go
  federationapi/routing/send_test.go
  federationsender/api/api.go
  federationsender/consumers/roomserver.go
  federationsender/internal/perform.go
  federationsender/inthttp/client.go
  federationsender/inthttp/server.go
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
  go.mod
  go.sum
  roomserver/api/api.go
  roomserver/api/api_trace.go
  roomserver/api/perform.go
  roomserver/api/wrapper.go
  roomserver/internal/perform_invite.go
  roomserver/inthttp/client.go
  roomserver/inthttp/server.go
  sytest-whitelist
Labels: component:federation

#1275 Add SkipClean and UseEncodedPaths to intermediate routers
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendritejs/main.go
  internal/setup/base.go
Labels: bug

#1277 Make PerformJoin responsible for sending invite to RS input
  clientapi/routing/createroom.go
  roomserver/api/wrapper.go
  roomserver/internal/perform_invite.go
  sytest-whitelist
Labels: bug, component:federation, component:roomserver

#1279 Only emit key changes which are different from what we had before
  keyserver/internal/device_list_update.go
  keyserver/internal/device_list_update_test.go
  keyserver/internal/internal.go
Labels: bug, component:keyserver

#1278 Summarise key change logs
  keyserver/producers/keychange.go
Labels: component:keyserver

#1282 Roomserver database-wide TransactionWriters
  roomserver/storage/sqlite3/event_json_table.go
  roomserver/storage/sqlite3/event_state_keys_table.go
  roomserver/storage/sqlite3/event_types_table.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/invite_table.go
  roomserver/storage/sqlite3/membership_table.go
  roomserver/storage/sqlite3/previous_events_table.go
  roomserver/storage/sqlite3/published_table.go
  roomserver/storage/sqlite3/redactions_table.go
  roomserver/storage/sqlite3/room_aliases_table.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/sqlite3/state_block_table.go
  roomserver/storage/sqlite3/state_snapshot_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/sqlite3/transactions_table.go
Labels: component:roomserver

#1283 Roomserver updater changes
  roomserver/internal/input_latest_events.go
  roomserver/internal/input_membership.go
  roomserver/storage/interface.go
  roomserver/storage/shared/latest_events_updater.go
  roomserver/storage/shared/membership_updater.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/types/types.go
Labels: component:roomserver

#1285 Transaction writer changes, move roomserver writers
  appservice/storage/sqlite3/appservice_events_table.go
  appservice/storage/sqlite3/txn_id_counter_table.go
  currentstateserver/storage/sqlite3/current_room_state_table.go
  federationsender/storage/postgres/blacklist_table.go
  federationsender/storage/sqlite3/blacklist_table.go
  federationsender/storage/sqlite3/joined_hosts_table.go
  federationsender/storage/sqlite3/queue_edus_table.go
  federationsender/storage/sqlite3/queue_json_table.go
  federationsender/storage/sqlite3/queue_pdus_table.go
  federationsender/storage/sqlite3/room_table.go
  internal/sqlutil/sql.go
  internal/sqlutil/writer_dummy.go
  internal/sqlutil/writer_exclusive.go
  keyserver/storage/sqlite3/device_keys_table.go
  keyserver/storage/sqlite3/key_changes_table.go
  keyserver/storage/sqlite3/one_time_keys_table.go
  mediaapi/storage/sqlite3/media_repository_table.go
  roomserver/internal/input_latest_events.go
  roomserver/state/state.go
  roomserver/storage/postgres/storage.go
  roomserver/storage/shared/latest_events_updater.go
  roomserver/storage/shared/membership_updater.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/event_json_table.go
  roomserver/storage/sqlite3/event_state_keys_table.go
  roomserver/storage/sqlite3/event_types_table.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/invite_table.go
  roomserver/storage/sqlite3/membership_table.go
  roomserver/storage/sqlite3/previous_events_table.go
  roomserver/storage/sqlite3/published_table.go
  roomserver/storage/sqlite3/redactions_table.go
  roomserver/storage/sqlite3/room_aliases_table.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/sqlite3/state_block_table.go
  roomserver/storage/sqlite3/state_snapshot_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/sqlite3/transactions_table.go
  serverkeyapi/storage/sqlite3/server_key_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/account_data_table.go
  syncapi/storage/sqlite3/backwards_extremities_table.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/sqlite3/filter_table.go
  syncapi/storage/sqlite3/invites_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/storage/sqlite3/output_room_events_topology_table.go
  syncapi/storage/sqlite3/send_to_device_table.go
  syncapi/storage/sqlite3/stream_id_table.go
  userapi/storage/accounts/sqlite3/account_data_table.go
  userapi/storage/accounts/sqlite3/accounts_table.go
  userapi/storage/accounts/sqlite3/profile_table.go
  userapi/storage/accounts/sqlite3/threepid_table.go
  userapi/storage/devices/sqlite3/devices_table.go
Labels: component:roomserver

#1286 #903: Client API: mutex on (user_id, room_id)
  clientapi/routing/sendevent.go
Labels: component:clientapi

#1287 Fix more roomserver transactions/locks
  roomserver/storage/shared/storage.go
Labels: component:roomserver

#1288 Change backoff behaviour so that Failure returns planned end time
  federationsender/statistics/statistics.go
  federationsender/statistics/statistics_test.go
Labels: component:federation

#1289 Roomserver per-room input parallelisation (Postgres)
  roomserver/internal/api.go
  roomserver/internal/input.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/events_table.go
  roomserver/storage/postgres/published_table.go
  roomserver/storage/postgres/room_aliases_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/published_table.go
  roomserver/storage/sqlite3/room_aliases_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver

#1284 Add FederationClient interface to federationsender
  cmd/dendrite-monolith-server/main.go
  federationsender/api/api.go
  federationsender/internal/api.go
  federationsender/inthttp/client.go
  federationsender/inthttp/server.go
  federationsender/statistics/statistics.go
  go.mod
  go.sum
  keyserver/internal/device_list_update.go
  keyserver/internal/internal.go
  keyserver/keyserver.go
Labels: component:federation, component:keyserver, maintenance

#1291 Add support for running Complement on current working directories
  build/scripts/Complement.Dockerfile
  build/scripts/complement.sh
Labels: tests

#1292 Select distinct on room memberships in sync API
  syncapi/storage/postgres/current_room_state_table.go
  syncapi/storage/sqlite3/current_room_state_table.go
Labels: bug, component:syncserver

#1295 Update Naffka
  currentstateserver/currentstateserver_test.go
  go.mod
  go.sum
  internal/setup/base.go
Labels: maintenance

#1333 Update README/CONTRIBUTING/sytest for AWSY issues
  README.md
  docs/CONTRIBUTING.md
  docs/sytest.md
Labels: Documentation

#1296 Use writer transaction in InsertKeyChange
  keyserver/storage/postgres/one_time_keys_table.go
  keyserver/storage/postgres/storage.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/device_keys_table.go
  keyserver/storage/sqlite3/key_changes_table.go
  keyserver/storage/sqlite3/one_time_keys_table.go
  keyserver/storage/sqlite3/stale_device_lists.go
  keyserver/storage/sqlite3/storage.go
  keyserver/storage/tables/interface.go
Labels: component:keyserver

#1334 Add spec compliant path for redaction
  clientapi/routing/routing.go
Labels: bug, component:clientapi

#1335 Roomserver NID caches
  internal/caching/cache_roomservernids.go
  internal/caching/caches.go
  internal/caching/impl_inmemorylru.go
  roomserver/internal/api.go
  roomserver/roomserver.go
  roomserver/storage/postgres/storage.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/storage.go
  roomserver/storage/storage_wasm.go
Labels: component:roomserver

#1336 Randomly generated media IDs
  mediaapi/routing/upload.go
  mediaapi/storage/interface.go
  mediaapi/storage/postgres/media_repository_table.go
  mediaapi/storage/postgres/storage.go
  mediaapi/storage/sqlite3/media_repository_table.go
  mediaapi/storage/sqlite3/storage.go
Labels: component:mediaapi

#1337 Make redactions permanent
  roomserver/storage/shared/storage.go
Labels: component:roomserver

#1340 Enforce history visibility etc for /rooms/{roomID}/state
  clientapi/routing/routing.go
  clientapi/routing/state.go
Labels: component:clientapi

#1341 Fix 'Invited user can reject invite over federation several times'
  syncapi/storage/postgres/invites_table.go
  syncapi/storage/sqlite3/invites_table.go
  syncapi/storage/tables/interface.go
  sytest-whitelist
Labels: are-we-synapse-yet, bug, component:syncserver

#1342 Modify DeviceListUpdater to retry requests according to RetryAfter
  keyserver/internal/device_list_update.go
Labels: component:keyserver

#1344 Wait for 8h between device list updates for blacklisted servers
  keyserver/internal/device_list_update.go
Labels: bug, component:keyserver

#1343 Port of #945
  mediaapi/fileutils/fileutils.go
  mediaapi/routing/download.go
  mediaapi/routing/routing.go
  mediaapi/routing/upload.go
Labels: bug, component:mediaapi

#1346 Allow join to accept server_name in query parameters
  clientapi/routing/joinroom.go
Labels: component:clientapi

#1345 Add OpenTracing documentation
  dendrite-config.yaml
  docs/tracing/jaeger.png
  docs/tracing/opentracing.md
  docs/tracing/setup.md
Labels: Documentation

#1347 Fix lock errors in federation sender
  federationsender/storage/shared/storage_edus.go
  federationsender/storage/shared/storage_pdus.go
Labels: bug, component:federation

#1349 Speed up accepting invites from remote users if we're already in the room
  roomserver/internal/perform_join.go
Labels: component:roomserver

#1350 Try to protect GetNextTransactionPDUs
  federationsender/storage/shared/storage_pdus.go
Labels: bug, component:federation

#1352 Remove device DB from clientapi
  build/gobind/monolith.go
  clientapi/clientapi.go
  clientapi/routing/device.go
  clientapi/routing/logout.go
  clientapi/routing/routing.go
  cmd/dendrite-client-api-server/main.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-user-api-server/main.go
  cmd/dendritejs/main.go
  internal/setup/base.go
  internal/setup/monolith.go
  userapi/api/api.go
  userapi/internal/api.go
  userapi/storage/devices/interface.go
  userapi/storage/devices/postgres/devices_table.go
  userapi/storage/devices/postgres/storage.go
  userapi/storage/devices/sqlite3/devices_table.go
  userapi/storage/devices/sqlite3/storage.go
  userapi/userapi.go
  userapi/userapi_test.go
Labels: component:clientapi

#1362 Don't truncate media down to 0 bytes
  mediaapi/fileutils/fileutils.go
Labels: component:mediaapi
