Repository matrix-org/dendrite, pull requests merged in 2020-12, with the labels that each got.

#1602 Optimise CheckServerAllowedToSeeEvent
  roomserver/internal/helpers/helpers.go
Labels: component:roomserver

#1604 Add ability to disable federation
  dendrite-config.yaml
  federationsender/federationsender.go
  federationsender/queue/queue.go
  internal/config/config_global.go
  internal/setup/base.go
  internal/setup/federation.go
Labels: component:federation

#1603 Send client events to appservices
  appservice/workers/transaction_scheduler.go
  go.mod
  go.sum
  syncapi/types/types.go
Labels: bug, component:appservices

#1608 Simplify create-account
  cmd/create-account/main.go
Labels: maintenance

#1596 MSC2836 threading: part 2
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/generate-config/main.go
  federationapi/routing/send_test.go
  federationsender/api/api.go
  federationsender/internal/api.go
  federationsender/inthttp/client.go
  federationsender/inthttp/server.go
  go.mod
  go.sum
  roomserver/api/api.go
  roomserver/api/api_trace.go
  roomserver/api/query.go
  roomserver/internal/input/input.go
  roomserver/internal/query/query.go
  roomserver/inthttp/client.go
  roomserver/inthttp/server.go
  setup/mscs/msc2836/msc2836.go
  setup/mscs/msc2836/msc2836_test.go
  setup/mscs/msc2836/storage.go
  setup/mscs/mscs.go
Labels: experimental

#1614 Federation sender event cache
  federationsender/federationsender.go
  federationsender/storage/postgres/storage.go
  federationsender/storage/shared/storage.go
  federationsender/storage/shared/storage_edus.go
  federationsender/storage/shared/storage_pdus.go
  federationsender/storage/sqlite3/storage.go
  federationsender/storage/storage.go
  federationsender/storage/storage_wasm.go
  internal/caching/cache_federationevents.go
  internal/caching/caches.go
  internal/caching/impl_inmemorylru.go
Labels: component:federation

#1621 Federation sender refactor
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
  federationsender/storage/interface.go
  federationsender/storage/postgres/queue_pdus_table.go
  federationsender/storage/shared/storage.go
  federationsender/storage/shared/storage_edus.go
  federationsender/storage/shared/storage_pdus.go
  federationsender/storage/sqlite3/queue_pdus_table.go
  federationsender/storage/tables/interface.go
Labels: component:federation

#1623 Adjust latest events updater
  roomserver/internal/input/input_latest_events.go
Labels: component:roomserver

#1624 Don't recalculate event ID so often in sync
  go.mod
  go.sum
  syncapi/storage/postgres/current_room_state_table.go
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
Labels: component:syncserver

#1628 Refactor sync tokens
  syncapi/consumers/clientapi.go
  syncapi/consumers/eduserver_receipts.go
  syncapi/consumers/eduserver_sendtodevice.go
  syncapi/consumers/eduserver_typing.go
  syncapi/consumers/keychange.go
  syncapi/consumers/roomserver.go
  syncapi/internal/keychange_test.go
  syncapi/routing/messages.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/storage_test.go
  syncapi/sync/notifier_test.go
  syncapi/sync/request.go
  syncapi/sync/requestpool.go
  syncapi/types/types.go
  syncapi/types/types_test.go
  sytest-whitelist
Labels: component:syncserver, maintenance

#1631 Give receipts their own stream ID in the database
  syncapi/storage/postgres/deltas/20201211125500_sequences.go
  syncapi/storage/postgres/receipt_table.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/deltas/20201211125500_sequences.go
  syncapi/storage/sqlite3/receipt_table.go
  syncapi/storage/sqlite3/stream_id_table.go
  syncapi/storage/sqlite3/syncserver.go
  syncapi/storage/tables/interface.go
Labels: component:syncserver

#1638 Tweak roomserver input
  roomserver/internal/input/input.go
Labels: component:roomserver

#1640 Don't use request context for input room event queued tasks
  roomserver/internal/input/input.go
Labels: component:roomserver

#1642 De-map device list positions in streaming tokens
  syncapi/consumers/keychange.go
  syncapi/internal/keychange.go
  syncapi/internal/keychange_test.go
  syncapi/types/types.go
  syncapi/types/types_test.go
Labels: component:syncserver

#1643 Hit the database far less in Events to find room NIDs and room versions
  roomserver/storage/postgres/events_table.go
  roomserver/storage/postgres/rooms_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver, optimisation

#1646 Add RoomInfo cache, remove RoomServerRoomNIDsCache
  internal/caching/cache_roominfo.go
  internal/caching/cache_roomservernids.go
  internal/caching/caches.go
  internal/caching/impl_inmemorylru.go
  roomserver/storage/shared/latest_events_updater.go
  roomserver/storage/shared/storage.go
Labels: component:roomserver, optimisation

#1647 NOTSPEC: Make ?from= optional in /messages
  syncapi/routing/messages.go
  syncapi/routing/routing.go
  syncapi/sync/requestpool.go
Labels: component:syncserver, spec-divergence

#1648 NOTSPEC: Add start_stream to /messages
  syncapi/routing/messages.go
Labels: component:syncserver, spec-divergence

#1649 Add event ID index on current state table (helps performance)
  syncapi/storage/postgres/current_room_state_table.go
  syncapi/storage/sqlite3/current_room_state_table.go
Labels: component:syncserver, optimisation

#1653 Fix flakey complement
  cmd/generate-config/main.go
Labels: bug

#1641 More sane next batch handling, typing notification tweaks, give invites their own stream position, device list fix
  keyserver/storage/postgres/key_changes_table.go
  keyserver/storage/sqlite3/key_changes_table.go
  syncapi/consumers/eduserver_receipts.go
  syncapi/consumers/eduserver_sendtodevice.go
  syncapi/consumers/eduserver_typing.go
  syncapi/consumers/roomserver.go
  syncapi/internal/keychange.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/receipt_table.go
  syncapi/storage/postgres/send_to_device_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/receipt_table.go
  syncapi/storage/sqlite3/send_to_device_table.go
  syncapi/storage/storage_test.go
  syncapi/storage/tables/interface.go
  syncapi/sync/notifier.go
  syncapi/sync/notifier_test.go
  syncapi/sync/request.go
  syncapi/sync/requestpool.go
  syncapi/types/types.go
  syncapi/types/types_test.go
  sytest-whitelist
Labels: component:syncserver

#1659 Don't send null in joined_rooms response
  clientapi/routing/memberships.go
Labels: component:clientapi

#1660 Re-add the appservice alias query on unknown alias
  appservice/api/query.go
  build/gobind/monolith.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-polylith-multi/personalities/roomserver.go
  cmd/dendritejs/main.go
  roomserver/api/api.go
  roomserver/api/api_trace.go
  roomserver/internal/alias.go
  roomserver/internal/api.go
  roomserver/inthttp/client.go
Labels: component:appservices, component:roomserver

#1661 Ensure we wake for our own device list updates
  syncapi/consumers/keychange.go
  sytest-whitelist
Labels: component:syncserver
