Repository matrix-org/dendrite, pull requests merged in 2020-10, with the labels that each got.

#1456 Fix bug in error handling in SQLite InsertPreviousEvent
  roomserver/storage/sqlite3/previous_events_table.go
Labels: bug, component:roomserver

#1457 Update HTTP clients
  cmd/dendrite-media-api-server/main.go
  cmd/dendrite-monolith-server/main.go
  go.mod
  go.sum
  internal/setup/base.go
Labels: maintenance

#1458 Add nginx sample reverse proxy configs
  docs/nginx/monolith-sample.conf
  docs/nginx/polylith-sample.conf
Labels: Documentation

#1460 Add custom issue templates; fixes #1421
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#1462 Update version imprinting
  build.sh
  internal/version.go
Labels: maintenance

#1465 Fix initial sync
  syncapi/storage/shared/syncserver.go
  syncapi/sync/requestpool.go
  sytest-whitelist
Labels: bug, component:syncserver

#1455 Implement account deactivation
  clientapi/routing/deactivate.go
  clientapi/routing/routing.go
  sytest-whitelist
  userapi/api/api.go
  userapi/internal/api.go
  userapi/inthttp/client.go
  userapi/inthttp/server.go
  userapi/storage/accounts/interface.go
  userapi/storage/accounts/postgres/accounts_table.go
  userapi/storage/accounts/postgres/deltas/20200929203058_is_active.sql
  userapi/storage/accounts/postgres/storage.go
  userapi/storage/accounts/sqlite3/accounts_table.go
  userapi/storage/accounts/sqlite3/deltas/20200929203058_is_active.sql
  userapi/storage/accounts/sqlite3/storage.go
Labels: changes database schema, component:clientapi

#1478 Don't use request context for backfill event persistence
  syncapi/routing/messages.go
Labels: component:federation, component:roomserver, component:syncserver

#1479 Resolve state after event against current room state when determining latest state changes
  roomserver/internal/input/input_latest_events.go
  roomserver/state/state.go
  sytest-blacklist
  sytest-whitelist
Labels: bug, component:roomserver

#1481 Remove KindRewrite
  federationsender/internal/perform.go
  roomserver/api/input.go
  roomserver/api/wrapper.go
  roomserver/internal/input/input_events.go
  roomserver/roomserver_test.go
Labels: component:roomserver

#1480 Use [] not null when there are no devices
  federationapi/routing/devices.go
Labels: bug, component:federation

#1483 Don't give up if we fail to fetch a key
  cmd/furl/main.go
  roomserver/internal/perform/perform_backfill.go
  serverkeyapi/internal/api.go
Labels: component:serverkeyapi

#1485 Optimise servers to backfill from
  roomserver/internal/api.go
  roomserver/internal/perform/perform_backfill.go
  roomserver/roomserver.go
Labels: component:roomserver, optimisation

#1490 Don't return 500s on checking if allowed to see event
  roomserver/internal/helpers/helpers.go
Labels: component:roomserver

#1491 Deep checking of forward extremities
  roomserver/api/input.go
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_latest_events.go
  roomserver/storage/shared/storage.go
  sytest-whitelist
Labels: component:roomserver

#1492 Rename serverkeyapi to signingkeyserver
  build/docker/config/dendrite-config.yaml
  build/docker/docker-compose.polylith.yml
  build/docker/images-build.sh
  build/docker/images-pull.sh
  build/docker/images-push.sh
  build/docker/postgres/create_db.sh
  build/gobind/monolith.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-federation-api-server/main.go
  cmd/dendrite-federation-sender-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-room-server/main.go
  cmd/dendrite-signing-key-server/main.go
  cmd/dendritejs/main.go
  cmd/generate-config/main.go
  dendrite-config.yaml
  docs/INSTALL.md
  internal/config/config.go
  internal/config/config_signingkeyserver.go
  internal/setup/base.go
  internal/setup/monolith.go
  internal/test/config.go
  roomserver/roomserver.go
  signingkeyserver/api/api.go
  signingkeyserver/internal/api.go
  signingkeyserver/inthttp/client.go
  signingkeyserver/inthttp/server.go
  signingkeyserver/serverkeyapi_test.go
  signingkeyserver/signingkeyserver.go
  signingkeyserver/storage/cache/keydb.go
  signingkeyserver/storage/interface.go
  signingkeyserver/storage/keydb.go
  signingkeyserver/storage/keydb_wasm.go
  signingkeyserver/storage/postgres/keydb.go
  signingkeyserver/storage/postgres/server_key_table.go
  signingkeyserver/storage/sqlite3/keydb.go
  signingkeyserver/storage/sqlite3/server_key_table.go
Labels: component:serverkeyapi, maintenance

#1495 Update invite stripped state in sync API
  syncapi/types/types.go
  syncapi/types/types_test.go
Labels: component:syncserver

#1503 Only return 500 on /send if a database error occurs
  federationapi/routing/send.go
Labels: component:federation

#1504 Update federation timeouts
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/yggconn/client.go
  cmd/dendritejs/main.go
  federationsender/internal/api.go
  federationsender/internal/perform.go
  federationsender/queue/destinationqueue.go
  go.mod
  go.sum
  internal/setup/base.go
  keyserver/internal/device_list_update_test.go
Labels: maintenance

#1505 Validate m.room.create events in send_join responses
  federationsender/internal/perform.go
  sytest-whitelist
Labels: are-we-synapse-yet, component:federation

#1513 Don't ignore local keys from fetchers
  signingkeyserver/internal/api.go
Labels: component:signingkeyserver

#1514 Get missing event tweaks
  federationapi/routing/send.go
  federationapi/routing/send_test.go
  roomserver/internal/query/query.go
Labels: component:federation

#1515 Wrap NewMembershipUpdater in a db writer
  internal/sqlutil/trace.go
  roomserver/storage/shared/membership_updater.go
Labels: bug

#1516 Try to retrieve missing auth events from multiple servers
  federationapi/routing/send.go
  federationapi/routing/send_test.go
  federationsender/internal/perform.go
Labels: component:federation

#1519 Send cumulative state when creating room
  clientapi/routing/createroom.go
Labels: component:clientapi

#1521 Improved state handling in /send
  federationapi/routing/send.go
  roomserver/api/query.go
  roomserver/internal/input/input_latest_events.go
  roomserver/internal/query/query.go
Labels: component:federation

#1522 Ignore duplicate redaction entries
  roomserver/storage/postgres/redactions_table.go
  roomserver/storage/sqlite3/redactions_table.go
Labels: component:roomserver

#1523 Ignore typing events where sender doesn't match origin
  federationapi/routing/send.go
  sytest-whitelist
Labels: component:federation

#1526 Don't re-run state resolution on a single trusted state snapshot
  federationapi/routing/send.go
Labels: component:federation, optimisation

#1527 Start Kafka connections for each component that needs them
  appservice/appservice.go
  build/docker/docker-compose.deps.yml
  build/gobind/monolith.go
  clientapi/clientapi.go
  cmd/dendrite-client-api-server/main.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-key-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-sync-api-server/main.go
  cmd/dendritejs/main.go
  eduserver/eduserver.go
  federationsender/federationsender.go
  internal/setup/base.go
  internal/setup/kafka/kafka.go
  internal/setup/monolith.go
  keyserver/keyserver.go
  roomserver/roomserver.go
  roomserver/roomserver_test.go
  syncapi/syncapi.go
Labels: maintenance

#1529 Automatically upgrade databases on startup
  cmd/goose/main.go
  internal/sqlutil/migrate.go
  userapi/storage/accounts/postgres/accounts_table.go
  userapi/storage/accounts/postgres/deltas/20200929203058_is_active.go
  userapi/storage/accounts/postgres/deltas/20200929203058_is_active.sql
  userapi/storage/accounts/postgres/storage.go
  userapi/storage/accounts/sqlite3/accounts_table.go
  userapi/storage/accounts/sqlite3/deltas/20200929203058_is_active.go
  userapi/storage/accounts/sqlite3/deltas/20200929203058_is_active.sql
  userapi/storage/accounts/sqlite3/storage.go
  userapi/storage/devices/postgres/deltas/20201001204705_last_seen_ts_ip.go
  userapi/storage/devices/postgres/deltas/20201001204705_last_seen_ts_ip.sql
  userapi/storage/devices/postgres/devices_table.go
  userapi/storage/devices/postgres/storage.go
  userapi/storage/devices/sqlite3/deltas/20201001204705_last_seen_ts_ip.go
  userapi/storage/devices/sqlite3/deltas/20201001204705_last_seen_ts_ip.sql
  userapi/storage/devices/sqlite3/devices_table.go
  userapi/storage/devices/sqlite3/storage.go
Labels: feature-req

#1532 Take write lock for rate limit map
  clientapi/routing/rate_limiting.go
Labels: bug, component:clientapi

#1531 KindOld
  clientapi/routing/createroom.go
  clientapi/routing/membership.go
  clientapi/routing/profile.go
  clientapi/routing/redaction.go
  clientapi/routing/sendevent.go
  clientapi/threepid/invites.go
  federationapi/routing/join.go
  federationapi/routing/leave.go
  federationapi/routing/send.go
  federationapi/routing/threepid.go
  federationsender/internal/perform.go
  roomserver/api/input.go
  roomserver/api/output.go
  roomserver/api/wrapper.go
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_latest_events.go
  roomserver/roomserver_test.go
  syncapi/consumers/roomserver.go
  sytest-whitelist
Labels: component:roomserver

#1542 Update Docker
  build/docker/Dockerfile.component
  build/docker/docker-compose.monolith.yml
  build/docker/docker-compose.polylith.yml
  build/docker/images-build.sh
  build/docker/images-pull.sh
  build/docker/images-push.sh
Labels: maintenance

#1543 Fix sqlite locking bugs present on sytest
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_latest_events.go
  roomserver/storage/shared/latest_events_updater.go
  roomserver/storage/shared/storage.go
Labels: bug, component:roomserver

#1550 Remove invalid state delta check
  roomserver/internal/input/input_latest_events.go
Labels: component:roomserver

#1552 Multi-personality polylith binary
  build/docker/Dockerfile
  build/docker/Dockerfile.component
  build/docker/Dockerfile.monolith
  build/docker/Dockerfile.polylith
  build/docker/docker-compose.deps.yml
  build/docker/docker-compose.monolith.yml
  build/docker/docker-compose.polylith.yml
  build/docker/images-build.sh
  build/docker/images-pull.sh
  build/docker/images-push.sh
  build/docker/postgres/create_db.sh
  cmd/dendrite-polylith-multi/main.go
  cmd/dendrite-polylith-multi/personalities/appservice.go
  cmd/dendrite-polylith-multi/personalities/clientapi.go
  cmd/dendrite-polylith-multi/personalities/eduserver.go
  cmd/dendrite-polylith-multi/personalities/federationapi.go
  cmd/dendrite-polylith-multi/personalities/federationsender.go
  cmd/dendrite-polylith-multi/personalities/keyserver.go
  cmd/dendrite-polylith-multi/personalities/mediaapi.go
  cmd/dendrite-polylith-multi/personalities/roomserver.go
  cmd/dendrite-polylith-multi/personalities/signingkeyserver.go
  cmd/dendrite-polylith-multi/personalities/syncapi.go
  cmd/dendrite-polylith-multi/personalities/userapi.go
  docs/INSTALL.md
Labels: design:components, maintenance

#1541 Internal HTTP APIs over H2C
  go.mod
  internal/setup/base.go
Labels: maintenance

#1554 Always call overridden form of GetLatestEventsForUpdate
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/storage.go
Labels: bug, component:roomserver

#1556 Refactor forward extremities
  cmd/resolve-state/main.go
  roomserver/internal/input/input_latest_events.go
  roomserver/state/state.go
Labels: component:roomserver

#1557 Fix RewritesState bug
  federationsender/consumers/roomserver.go
  federationsender/storage/interface.go
  federationsender/storage/postgres/joined_hosts_table.go
  federationsender/storage/shared/storage.go
  federationsender/storage/sqlite3/joined_hosts_table.go
  federationsender/storage/tables/interface.go
  roomserver/internal/input/input_latest_events.go
  roomserver/roomserver_test.go
  syncapi/consumers/roomserver.go
  syncapi/storage/interface.go
  syncapi/storage/shared/syncserver.go
Labels: bug, component:roomserver

#1548 Exclude old state events from sync when consumed from roomserver
  syncapi/consumers/roomserver.go
Labels: component:syncserver
