Repository matrix-org/dendrite, pull requests merged in 2020-06, with the labels that each got.

#1077 Add a way to force federationsender to retry sending transactions
  cmd/dendritejs/main.go
  cmd/dendritejs/publicrooms.go
  federationsender/api/api.go
  federationsender/api/perform.go
  federationsender/federationsender.go
  federationsender/internal/api.go
  federationsender/internal/perform.go
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
Labels: component:federation

#1081 Only store our own aliases in publicroomsapi
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-libp2p/storage/postgreswithdht/storage.go
  cmd/dendrite-demo-libp2p/storage/postgreswithpubsub/storage.go
  cmd/dendrite-demo-libp2p/storage/storage.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-public-rooms-api-server/main.go
  cmd/dendritejs/main.go
  publicroomsapi/storage/postgres/storage.go
  publicroomsapi/storage/sqlite3/storage.go
  publicroomsapi/storage/storage.go
  publicroomsapi/storage/storage_wasm.go
Labels: bug, component:publicrooms

#1083 Sort public rooms again by member count
  publicroomsapi/directory/public_rooms.go
Labels: bug, component:publicrooms

#1089 Don't reset counters before successful outgoing federation request
  federationsender/queue/destinationqueue.go
Labels: component:federation

#1090 Encode v3 event IDs correctly
  federationapi/routing/routing.go
  internal/basecomponent/base.go
  internal/httpapi.go
Labels: bug, tests

#1091 Fix #632 and send spec-compliant transactions to the AS
  appservice/workers/transaction_scheduler.go
Labels: bug, component:appservices

#1088 Add ParseFileURI and use it when dealing with file URIs
  appservice/storage/sqlite3/storage.go
  appservice/storage/storage_wasm.go
  clientapi/auth/storage/accounts/sqlite3/storage.go
  clientapi/auth/storage/accounts/storage_wasm.go
  clientapi/auth/storage/devices/sqlite3/storage.go
  clientapi/auth/storage/devices/storage_wasm.go
  federationsender/storage/sqlite3/storage.go
  federationsender/storage/storage_wasm.go
  internal/basecomponent/base.go
  internal/sqlutil/uri.go
  mediaapi/storage/sqlite3/storage.go
  mediaapi/storage/storage_wasm.go
  publicroomsapi/storage/sqlite3/storage.go
  publicroomsapi/storage/storage_wasm.go
  roomserver/storage/sqlite3/storage.go
  serverkeyapi/storage/sqlite3/keydb.go
  syncapi/storage/sqlite3/syncserver.go
Labels: maintenance

#1093 s/Base64String/Base64Bytes/g
  clientapi/auth/storage/accounts/sqlite3/constraint_wasm.go
  clientapi/threepid/invites.go
  cmd/dendrite-demo-libp2p/mdnslistener.go
  cmd/dendritejs/keyfetcher.go
  federationapi/routing/keys.go
  go.mod
  go.sum
  serverkeyapi/storage/postgres/keydb.go
  serverkeyapi/storage/sqlite3/keydb.go
Labels: maintenance

#1095 Refactor how federationsender gets created
  cmd/dendrite-client-api-server/main.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-federation-api-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-public-rooms-api-server/main.go
  cmd/dendrite-room-server/main.go
  cmd/dendritejs/main.go
  federationsender/api/api.go
  federationsender/api/perform.go
  federationsender/api/query.go
  federationsender/federationsender.go
  federationsender/internal/api.go
  federationsender/inthttp/client.go
  federationsender/inthttp/server.go
  internal/basecomponent/base.go
Labels: component:federation, maintenance

#1097 Convert serverkeys to inthttp
  cmd/dendrite-client-api-server/main.go
  cmd/dendrite-federation-api-server/main.go
  cmd/dendrite-federation-sender-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-room-server/main.go
  internal/basecomponent/base.go
  serverkeyapi/api/api.go
  serverkeyapi/api/http.go
  serverkeyapi/internal/api.go
  serverkeyapi/inthttp/client.go
  serverkeyapi/inthttp/server.go
  serverkeyapi/serverkeyapi.go
Labels: maintenance

#1098 General cleanup when making components
  cmd/dendrite-appservice-server/main.go
  cmd/dendrite-client-api-server/main.go
  cmd/dendrite-edu-server/main.go
  cmd/dendrite-federation-api-server/main.go
  cmd/dendrite-federation-sender-server/main.go
  cmd/dendrite-key-server/main.go
  cmd/dendrite-media-api-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-public-rooms-api-server/main.go
  cmd/dendrite-room-server/main.go
  cmd/dendrite-server-key-api-server/main.go
  cmd/dendrite-sync-api-server/main.go
  internal/basecomponent/flags.go
  internal/config/config.go
  roomserver/inthttp/client.go
Labels: bug, maintenance

#1106 Split out SetupFooComponent
  appservice/appservice.go
  clientapi/clientapi.go
  cmd/dendrite-appservice-server/main.go
  cmd/dendrite-client-api-server/main.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-edu-server/main.go
  cmd/dendrite-federation-api-server/main.go
  cmd/dendrite-federation-sender-server/main.go
  cmd/dendrite-key-server/main.go
  cmd/dendrite-media-api-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-public-rooms-api-server/main.go
  cmd/dendrite-room-server/main.go
  cmd/dendrite-server-key-api-server/main.go
  cmd/dendrite-sync-api-server/main.go
  cmd/dendritejs/main.go
  eduserver/eduserver.go
  federationapi/federationapi.go
  federationsender/federationsender.go
  keyserver/keyserver.go
  mediaapi/mediaapi.go
  publicroomsapi/publicroomsapi.go
  roomserver/roomserver.go
  serverkeyapi/serverkeyapi.go
  syncapi/syncapi.go
Labels: maintenance

#1107 Factor out how monolith routes get added
  clientapi/clientapi.go
  cmd/dendrite-client-api-server/main.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-public-rooms-api-server/main.go
  cmd/dendrite-sync-api-server/main.go
  cmd/dendritejs/main.go
  internal/setup/monolith.go
  publicroomsapi/publicroomsapi.go
  syncapi/syncapi.go
Labels: maintenance

#1108 Yggdrasil-based P2P demo
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-demo-yggdrasil/yggconn/node.go
  cmd/dendrite-demo-yggdrasil/yggconn/session.go
  go.mod
  go.sum
Labels: demo:yggdrasil

#1118 Roomserver API changes
  appservice/consumers/roomserver.go
  clientapi/consumers/roomserver.go
  federationapi/routing/backfill.go
  federationapi/routing/send_test.go
  federationsender/consumers/roomserver.go
  publicroomsapi/consumers/roomserver.go
  roomserver/api/api.go
  roomserver/api/output.go
  roomserver/api/perform.go
  roomserver/api/query.go
  roomserver/internal/input_latest_events.go
  roomserver/internal/perform_backfill.go
  roomserver/internal/query.go
  roomserver/inthttp/client.go
  roomserver/inthttp/server.go
  syncapi/consumers/roomserver.go
  syncapi/routing/messages.go
Labels: component:roomserver

#1116 More key tweaks
  internal/caching/cache_serverkeys.go
  internal/caching/caches.go
  internal/caching/impl_inmemorylru.go
  serverkeyapi/internal/api.go
  serverkeyapi/inthttp/client.go
  serverkeyapi/inthttp/server.go
Labels: component:serverkeyapi

#1125 Current wiring
  clientapi/clientapi.go
  clientapi/routing/getevent.go
  clientapi/routing/routing.go
  docs/WIRING-Current.md
  internal/setup/monolith.go
Labels: Documentation

#1130 Fix rooms v3 url paths for good - with tests
  cmd/create-room-events/main.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendritejs/jsServer.go
  cmd/dendritejs/main.go
  federationapi/federationapi.go
  federationapi/federationapi_test.go
  federationapi/routing/invite.go
  federationapi/routing/join.go
  federationapi/routing/leave.go
  federationapi/routing/routing.go
  federationapi/routing/send.go
  federationapi/routing/send_test.go
  internal/httputil/httpapi.go
  internal/setup/base.go
  internal/test/keyring.go
  internal/test/server.go
  userapi/userapi_test.go
Labels: tests

#1131 Unbreak HTTP mode
  cmd/dendrite-monolith-server/main.go
Labels: bug

#1129 More server key updates, tests
  cmd/roomserver-integration-tests/main.go
  go.mod
  go.sum
  internal/caching/cache_serverkeys.go
  internal/caching/impl_inmemorylru.go
  internal/setup/base.go
  serverkeyapi/internal/api.go
  serverkeyapi/inthttp/client.go
  serverkeyapi/serverkeyapi.go
  serverkeyapi/serverkeyapi_test.go
  serverkeyapi/storage/cache/keydb.go
  serverkeyapi/storage/postgres/keydb.go
  serverkeyapi/storage/sqlite3/keydb.go
Labels: component:serverkeyapi

#1135 Make federationapi use userapi
  cmd/dendrite-federation-api-server/main.go
  federationapi/federationapi.go
  federationapi/federationapi_test.go
  federationapi/routing/devices.go
  federationapi/routing/profile.go
  federationapi/routing/routing.go
  federationapi/routing/threepid.go
  internal/setup/monolith.go
  userapi/api/api.go
  userapi/internal/api.go
  userapi/inthttp/client.go
  userapi/inthttp/server.go
Labels: component:federation

#1136 Make syncapi use userapi
  cmd/dendrite-sync-api-server/main.go
  docs/WIRING-Current.md
  internal/setup/monolith.go
  syncapi/sync/requestpool.go
  syncapi/syncapi.go
  userapi/api/api.go
  userapi/internal/api.go
  userapi/inthttp/client.go
  userapi/inthttp/server.go
Labels: component:syncserver

#1138 BREAKING: Make eduserver/appservice use userapi
  appservice/appservice.go
  appservice/consumers/roomserver.go
  appservice/storage/interface.go
  appservice/storage/postgres/storage.go
  appservice/storage/sqlite3/storage.go
  clientapi/auth/storage/accounts/interface.go
  clientapi/auth/storage/devices/interface.go
  cmd/dendrite-appservice-server/main.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-edu-server/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendritejs/main.go
  eduserver/eduserver.go
  eduserver/input/input.go
  userapi/api/api.go
  userapi/internal/api.go
  userapi/inthttp/client.go
  userapi/inthttp/server.go
Labels: changes database schema, component:appservices, component:eduserver

#1139 Make userapi control account creation entirely
  appservice/appservice.go
  clientapi/auth/auth.go
  clientapi/auth/authtypes/account.go
  clientapi/auth/storage/accounts/interface.go
  clientapi/auth/storage/accounts/postgres/accounts_table.go
  clientapi/auth/storage/accounts/postgres/storage.go
  clientapi/auth/storage/accounts/sqlite3/accounts_table.go
  clientapi/auth/storage/accounts/sqlite3/storage.go
  clientapi/routing/login.go
  clientapi/routing/register.go
  clientapi/routing/routing.go
  userapi/api/api.go
  userapi/internal/api.go
Labels: component:clientapi

#1141 Move account/device DBs to userapi
  appservice/api/query.go
  clientapi/clientapi.go
  clientapi/consumers/roomserver.go
  clientapi/routing/account_data.go
  clientapi/routing/createroom.go
  clientapi/routing/device.go
  clientapi/routing/filter.go
  clientapi/routing/joinroom.go
  clientapi/routing/login.go
  clientapi/routing/logout.go
  clientapi/routing/membership.go
  clientapi/routing/memberships.go
  clientapi/routing/profile.go
  clientapi/routing/register.go
  clientapi/routing/room_tagging.go
  clientapi/routing/routing.go
  clientapi/routing/sendtyping.go
  clientapi/routing/threepid.go
  clientapi/threepid/invites.go
  cmd/create-account/main.go
  internal/setup/base.go
  internal/setup/monolith.go
  userapi/internal/api.go
  userapi/storage/accounts/interface.go
  userapi/storage/accounts/postgres/account_data_table.go
  userapi/storage/accounts/postgres/accounts_table.go
  userapi/storage/accounts/postgres/filter_table.go
  userapi/storage/accounts/postgres/membership_table.go
  userapi/storage/accounts/postgres/profile_table.go
  userapi/storage/accounts/postgres/storage.go
  userapi/storage/accounts/postgres/threepid_table.go
  userapi/storage/accounts/sqlite3/account_data_table.go
  userapi/storage/accounts/sqlite3/accounts_table.go
  userapi/storage/accounts/sqlite3/constraint.go
  userapi/storage/accounts/sqlite3/constraint_wasm.go
  userapi/storage/accounts/sqlite3/filter_table.go
  userapi/storage/accounts/sqlite3/membership_table.go
  userapi/storage/accounts/sqlite3/profile_table.go
  userapi/storage/accounts/sqlite3/storage.go
  userapi/storage/accounts/sqlite3/threepid_table.go
  userapi/storage/accounts/storage.go
  userapi/storage/accounts/storage_wasm.go
  userapi/storage/devices/interface.go
  userapi/storage/devices/postgres/devices_table.go
  userapi/storage/devices/postgres/storage.go
  userapi/storage/devices/sqlite3/devices_table.go
  userapi/storage/devices/sqlite3/storage.go
  userapi/storage/devices/storage.go
  userapi/storage/devices/storage_wasm.go
  userapi/userapi.go
  userapi/userapi_test.go
Labels: maintenance

#1143 Do not wrap send_join errors on /v1/send_join
  federationapi/routing/routing.go
Labels: bug, component:federation

#1144 Fallback parsing for Content-Disposition
  mediaapi/routing/download.go
  sytest-whitelist
Labels: component:mediaapi

#1145 Enable more sytests
  go.mod
  go.sum
  sytest-whitelist
Labels: tests

#1147 Make account data sytests pass
  clientapi/routing/account_data.go
  sytest-whitelist
Labels: bug, component:clientapi

#1151 User API polylith component
  build/docker/config/dendrite-config.yaml
  build/docker/docker-compose.polylith.yml
  build/docker/images-build.sh
  build/docker/images-pull.sh
  build/docker/images-push.sh
  dendrite-config.yaml
  docs/INSTALL.md
  internal/config/config.go
Labels: component:userapi

#1149 /send auth errors are silent
  federationapi/routing/send.go
  sytest-blacklist
Labels: component:federation

#1155 Fix room checks for /state and /state_ids
  federationapi/routing/events.go
  federationapi/routing/state.go
  sytest-whitelist
Labels: component:federation

#1156 Add /send restrictions and return correct error codes
  federationapi/routing/send.go
  federationapi/routing/send_test.go
  go.mod
  go.sum
  sytest-whitelist
Labels: component:federation

#1157 Pass join errors through internal API boundaries
  clientapi/routing/joinroom.go
  clientapi/routing/routing.go
  roomserver/api/perform.go
  roomserver/internal/input_events.go
  roomserver/internal/perform_join.go
  roomserver/inthttp/server.go
  sytest-whitelist
Labels: component:clientapi, component:roomserver

#1158 Add PerformInvite and refactor how errors get handled
  clientapi/routing/createroom.go
  clientapi/routing/joinroom.go
  clientapi/routing/membership.go
  federationapi/routing/invite.go
  federationapi/routing/send_test.go
  roomserver/api/api.go
  roomserver/api/api_trace.go
  roomserver/api/input.go
  roomserver/api/perform.go
  roomserver/api/wrapper.go
  roomserver/internal/input.go
  roomserver/internal/input_events.go
  roomserver/internal/perform_invite.go
  roomserver/internal/perform_join.go
  roomserver/inthttp/client.go
  roomserver/inthttp/server.go
Labels: component:roomserver, maintenance

#1160 Refactor SendMembership - make ban test pass
  clientapi/routing/createroom.go
  clientapi/routing/membership.go
  clientapi/routing/routing.go
  clientapi/threepid/invites.go
  roomserver/api/query.go
  roomserver/internal/perform_invite.go
  roomserver/internal/query.go
  sytest-whitelist
Labels: component:clientapi, maintenance

#1162 Hopefully fix databased is locked errors on sqlite account creation
  userapi/storage/accounts/sqlite3/storage.go
Labels: component:userapi

#1164 Return remote errors from FS.PerformJoin
  clientapi/jsonerror/jsonerror.go
  federationsender/api/api.go
  federationsender/internal/perform.go
  federationsender/inthttp/client.go
  federationsender/inthttp/server.go
  go.mod
  go.sum
  roomserver/api/perform.go
  roomserver/internal/perform_join.go
  sytest-whitelist
Labels: component:federation

#1165 Handle invite v1
  federationapi/routing/invite.go
  federationapi/routing/routing.go
  go.mod
  go.sum
  sytest-whitelist
Labels: component:federation

#1166 Finish implementing retiring invites
  roomserver/internal/perform_join.go
  roomserver/internal/perform_leave.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/invite_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/invite_table.go
  roomserver/storage/tables/interface.go
  syncapi/consumers/roomserver.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/invites_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/invites_table.go
  syncapi/storage/storage_test.go
  syncapi/storage/tables/interface.go
  syncapi/types/types.go
  sytest-whitelist
Labels: changes database schema, component:syncserver

#1168 Implement /sync `limited` and read timeline limit from stored filters
  clientapi/routing/routing.go
  syncapi/routing/filter.go
  syncapi/routing/routing.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/filter_table.go
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/filter_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/storage/sqlite3/syncserver.go
  syncapi/storage/tables/interface.go
  syncapi/sync/notifier_test.go
  syncapi/sync/request.go
  syncapi/sync/requestpool.go
  sytest-whitelist
  userapi/storage/accounts/interface.go
  userapi/storage/accounts/postgres/storage.go
  userapi/storage/accounts/sqlite3/storage.go
Labels: changes database schema, component:syncserver

#1171 Add a new component: currentstateserver
  currentstateserver/api/api.go
  currentstateserver/consumers/roomserver.go
  currentstateserver/currentstateserver.go
  currentstateserver/currentstateserver_test.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  currentstateserver/storage/interface.go
  currentstateserver/storage/postgres/current_room_state_table.go
  currentstateserver/storage/postgres/storage.go
  currentstateserver/storage/shared/storage.go
  currentstateserver/storage/sqlite3/current_room_state_table.go
  currentstateserver/storage/sqlite3/storage.go
  currentstateserver/storage/storage.go
  currentstateserver/storage/storage_wasm.go
  currentstateserver/storage/tables/interface.go
  dendrite-config.yaml
  internal/config/config.go
  internal/config/config_test.go
Labels: [PROPOSAL]component:current-state, changes database schema, design:components

#1172 Remove membership table from account DB
  clientapi/clientapi.go
  clientapi/consumers/roomserver.go
  clientapi/routing/memberships.go
  clientapi/routing/profile.go
  clientapi/routing/routing.go
  clientapi/routing/sendtyping.go
  cmd/dendrite-client-api-server/main.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendritejs/main.go
  currentstateserver/api/api.go
  currentstateserver/currentstateserver_test.go
  currentstateserver/internal/api.go
  currentstateserver/inthttp/client.go
  currentstateserver/inthttp/server.go
  currentstateserver/storage/interface.go
  currentstateserver/storage/postgres/current_room_state_table.go
  currentstateserver/storage/shared/storage.go
  currentstateserver/storage/sqlite3/current_room_state_table.go
  currentstateserver/storage/tables/interface.go
  internal/setup/base.go
  internal/setup/monolith.go
  userapi/storage/accounts/interface.go
  userapi/storage/accounts/postgres/membership_table.go
  userapi/storage/accounts/postgres/storage.go
  userapi/storage/accounts/sqlite3/membership_table.go
  userapi/storage/accounts/sqlite3/storage.go
Labels: component:clientapi, component:current-state
