Repository matrix-org/dendrite, pull requests merged in 2021-06, with the labels that each got.

#1888 Use a custom FIFO queue for the RS input API
  roomserver/internal/input/input.go
  roomserver/internal/input/input_fifo.go
Labels: component:roomserver

#1889 db migration: fix #1844 and add additional assertions
  roomserver/storage/postgres/deltas/2021041615092700_state_blocks_refactor.go
  roomserver/storage/sqlite3/deltas/2021041615092700_state_blocks_refactor.go
Labels: bug

#1890 Reduce memory usage in federation /send endpoint
  federationapi/routing/send.go
  federationapi/routing/send_test.go
Labels: component:federation

#1891 Stop trying additional servers for missing events when context expires
  federationapi/routing/send.go
Labels: component:federation

#1892 Change how servers are selected for missing auth/prev events
  cmd/dendrite-polylith-multi/personalities/federationapi.go
  federationapi/api/servers.go
  federationapi/federationapi.go
  federationapi/federationapi_test.go
  federationapi/routing/routing.go
  federationapi/routing/send.go
  setup/monolith.go
Labels: component:federation

#1893 Fix concurrent map read/write on haveEvents
  federationapi/routing/send.go
Labels: component:federation
