Repository matrix-org/dendrite, pull requests merged in 2021-04, with the labels that each got.

#1819 Optimise memory usage when calling /g_m_e
  federationapi/routing/send.go
  keyserver/internal/device_list_update.go
Labels: component:federation, optimisation

#1822 Remove legacy register endpoint
  clientapi/routing/register.go
  clientapi/routing/routing.go
Labels: component:clientapi

#1824 fedsender: tolerate dupe membership events
  federationsender/storage/postgres/joined_hosts_table.go
  federationsender/storage/sqlite3/joined_hosts_table.go
Labels: component:federation

#1839 State storage refactor
  go.mod
  go.sum
  roomserver/storage/postgres/deltas/20201028212440_add_forgotten_column.go
  roomserver/storage/postgres/deltas/2021041615092700_state_blocks_refactor.go
  roomserver/storage/postgres/event_json_table.go
  roomserver/storage/postgres/event_state_keys_table.go
  roomserver/storage/postgres/event_types_table.go
  roomserver/storage/postgres/events_table.go
  roomserver/storage/postgres/invite_table.go
  roomserver/storage/postgres/membership_table.go
  roomserver/storage/postgres/previous_events_table.go
  roomserver/storage/postgres/published_table.go
  roomserver/storage/postgres/redactions_table.go
  roomserver/storage/postgres/room_aliases_table.go
  roomserver/storage/postgres/rooms_table.go
  roomserver/storage/postgres/state_block_table.go
  roomserver/storage/postgres/state_snapshot_table.go
  roomserver/storage/postgres/storage.go
  roomserver/storage/postgres/transactions_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/deltas/20201028212440_add_forgotten_column.go
  roomserver/storage/sqlite3/deltas/2021041615092700_state_blocks_refactor.go
  roomserver/storage/sqlite3/event_json_table.go
  roomserver/storage/sqlite3/event_state_keys_table.go
  roomserver/storage/sqlite3/event_types_table.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/invite_table.go
  roomserver/storage/sqlite3/membership_table.go
  roomserver/storage/sqlite3/previous_events_table.go
  roomserver/storage/sqlite3/published_table.go
  roomserver/storage/sqlite3/redactions_table.go
  roomserver/storage/sqlite3/room_aliases_table.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/sqlite3/state_block_table.go
  roomserver/storage/sqlite3/state_snapshot_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/sqlite3/transactions_table.go
  roomserver/storage/tables/interface.go
  roomserver/types/types.go
Labels: component:roomserver, maintenance, optimisation
