Repository matrix-org/dendrite, pull requests merged in 2021-08, with the labels that each got.

#1954 Read the right username field when performing account deactivation
  clientapi/routing/deactivate.go
Labels: bug, component:clientapi

#1948 Add tracing to user API
  cmd/dendrite-monolith-server/main.go
  federationapi/routing/send_test.go
  setup/mscs/msc2836/msc2836_test.go
  setup/mscs/msc2946/msc2946_test.go
  userapi/api/api_trace.go
Labels: component:userapi, maintenance

#1960 Fix sqlite migration issues
  roomserver/storage/sqlite3/deltas/2021041615092700_state_blocks_refactor.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/state_block_table.go
  roomserver/storage/sqlite3/state_snapshot_table.go
Labels: bug, component:roomserver

#1959 Cross-signing storage code
  go.mod
  go.sum
  keyserver/storage/interface.go
  keyserver/storage/postgres/cross_signing_keys_table.go
  keyserver/storage/postgres/cross_signing_sigs_table.go
  keyserver/storage/postgres/storage.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/cross_signing_keys_table.go
  keyserver/storage/sqlite3/cross_signing_sigs_table.go
  keyserver/storage/sqlite3/storage.go
  keyserver/storage/tables/interface.go
  keyserver/types/storage.go
Labels: component:keyserver

#1961 Ensure all create events have a snapshot NID of 0
  roomserver/storage/postgres/deltas/2021041615092700_state_blocks_refactor.go
Labels: bug, component:roomserver

#1953 Cross-signing groundwork
  build/gobind-pinecone/monolith.go
  build/gobind-yggdrasil/monolith.go
  clientapi/auth/password.go
  clientapi/auth/user_interactive.go
  clientapi/jsonerror/jsonerror.go
  clientapi/routing/key_crosssigning.go
  clientapi/routing/keys.go
  clientapi/routing/routing.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-pinecone/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-polylith-multi/personalities/keyserver.go
  cmd/dendritejs-pinecone/main.go
  cmd/dendritejs/main.go
  keyserver/api/api.go
  keyserver/consumers/eduserver.go
  keyserver/internal/cross_signing.go
  keyserver/internal/device_list_update.go
  keyserver/internal/device_list_update_test.go
  keyserver/internal/internal.go
  keyserver/inthttp/client.go
  keyserver/inthttp/server.go
  keyserver/keyserver.go
  setup/config/config_kafka.go
  syncapi/internal/keychange_test.go
  sytest-whitelist
Labels: component:keyserver

#1962 Cross-signing validation for self-sigs, expose signatures over `/user/keys/query` and `/user/devices/{userId}`
  federationapi/routing/devices.go
  keyserver/api/api.go
  keyserver/internal/cross_signing.go
  keyserver/internal/internal.go
  keyserver/inthttp/client.go
  keyserver/inthttp/server.go
  keyserver/storage/interface.go
  keyserver/storage/shared/storage.go
  syncapi/internal/keychange_test.go
Labels: component:keyserver

#1965 Cross-signing signature handling
  cmd/dendrite-monolith-server/main.go
  federationapi/routing/devices.go
  federationapi/routing/keys.go
  go.mod
  go.sum
  keyserver/api/api.go
  keyserver/internal/cross_signing.go
  keyserver/internal/internal.go
  keyserver/inthttp/server.go
  sytest-whitelist
Labels: component:keyserver

#1969 Add type field to DeviceMessage
  keyserver/api/api.go
  keyserver/internal/device_list_update.go
  keyserver/internal/device_list_update_test.go
  keyserver/internal/internal.go
  keyserver/storage/postgres/device_keys_table.go
  keyserver/storage/sqlite3/device_keys_table.go
  keyserver/storage/storage_test.go
Labels: component:keyserver

#1974 Cross-signing fixes, notifications via sync, federation
  clientapi/jsonerror/jsonerror.go
  clientapi/routing/key_crosssigning.go
  clientapi/routing/routing.go
  eduserver/api/input.go
  eduserver/api/output.go
  eduserver/api/types.go
  eduserver/eduserver.go
  eduserver/input/input.go
  eduserver/inthttp/client.go
  eduserver/inthttp/server.go
  federationapi/routing/send.go
  federationapi/routing/send_test.go
  federationsender/consumers/keychange.go
  go.mod
  go.sum
  keyserver/api/api.go
  keyserver/consumers/cross_signing.go
  keyserver/consumers/eduserver.go
  keyserver/internal/cross_signing.go
  keyserver/keyserver.go
  keyserver/producers/keychange.go
  setup/config/config_kafka.go
  syncapi/consumers/keychange.go
  sytest-whitelist
Labels: component:syncapi, component:federation, component:keyserver

#1979 Delete device keys/signatures from key server when deleting devices
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/inthttp/client.go
  keyserver/inthttp/server.go
  keyserver/storage/interface.go
  keyserver/storage/postgres/cross_signing_sigs_table.go
  keyserver/storage/postgres/device_keys_table.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/cross_signing_sigs_table.go
  keyserver/storage/sqlite3/device_keys_table.go
  keyserver/storage/tables/interface.go
  syncapi/internal/keychange_test.go
  userapi/internal/api.go
Labels: component:keyserver

#1986 Fix UIA for cross-signing setup
  clientapi/routing/key_crosssigning.go
Labels: component:clientapi
