Repository matrix-org/dendrite, pull requests merged in 2021-02, with the labels that each got.

#1748 Remove redundant membership check
  roomserver/internal/input/input_membership.go
Labels: component:roomserver

#1750 Fix ON CONFLICT on sync API account data
  syncapi/storage/postgres/account_data_table.go
  syncapi/storage/sqlite3/account_data_table.go
Labels: component:syncapi

#1751 Remove rooms table from federation sender
  federationsender/storage/postgres/deltas/2021020411080000_rooms.go
  federationsender/storage/postgres/room_table.go
  federationsender/storage/postgres/storage.go
  federationsender/storage/shared/storage.go
  federationsender/storage/sqlite3/deltas/2021020411080000_rooms.go
  federationsender/storage/sqlite3/room_table.go
  federationsender/storage/sqlite3/storage.go
  federationsender/storage/tables/interface.go
  federationsender/types/types.go
Labels: component:roomserver

#1739 Don't re-request state events that are already in the timeline
  syncapi/storage/interface.go
  syncapi/storage/postgres/current_room_state_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/sqlite3/filtering.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/storage/tables/interface.go
  syncapi/streams/stream_pdu.go
Labels: component:syncapi

#1753 Fix crash in membership updater
  roomserver/internal/input/input_membership.go
Labels: component:roomserver

#1766 Don't query for servers so often in /send
  cmd/resolve-state/main.go
  federationapi/routing/send.go
  go.mod
  go.sum
  roomserver/internal/query/query.go
  roomserver/state/state.go
Labels: maintenance

#1768 Gradually evict oldest cache entries
  internal/caching/impl_inmemorylru.go
Labels: maintenance

#1537 Retrieve remote file size without the Content-Size header
  mediaapi/fileutils/fileutils.go
  mediaapi/routing/download.go
  mediaapi/routing/upload.go
Labels: component:mediaapi

#1769 Don't hold destination queues in memory forever
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
Labels: component:federation

#1767 Don't exclude an event from sync if it was previously not excluded
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
Labels: component:syncapi
