Repository matrix-org/dendrite, pull requests merged in 2021-01, with the labels that each got.

#1681 Send/state tweaks
  federationapi/routing/send.go
Labels: component:federation

#1688 Sync refactor — Part 1
  eduserver/cache/cache.go
  syncapi/consumers/clientapi.go
  syncapi/consumers/eduserver_receipts.go
  syncapi/consumers/eduserver_sendtodevice.go
  syncapi/consumers/eduserver_typing.go
  syncapi/consumers/keychange.go
  syncapi/consumers/roomserver.go
  syncapi/internal/keychange.go
  syncapi/internal/keychange_test.go
  syncapi/notifier/notifier.go
  syncapi/notifier/notifier_test.go
  syncapi/notifier/userstream.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/receipt_table.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/receipt_table.go
  syncapi/storage/sqlite3/syncserver.go
  syncapi/storage/storage_test.go
  syncapi/streams/stream_accountdata.go
  syncapi/streams/stream_devicelist.go
  syncapi/streams/stream_invite.go
  syncapi/streams/stream_pdu.go
  syncapi/streams/stream_receipt.go
  syncapi/streams/stream_sendtodevice.go
  syncapi/streams/stream_typing.go
  syncapi/streams/streams.go
  syncapi/streams/template_pstream.go
  syncapi/streams/template_stream.go
  syncapi/sync/request.go
  syncapi/sync/requestpool.go
  syncapi/syncapi.go
  syncapi/types/provider.go
  syncapi/types/types.go
  syncapi/types/types_test.go
Labels: component:syncserver

#1691 Reduce sync flashbacks
  syncapi/types/types.go
Labels: component:syncserver

#1698 Deep-checking forward extremities
  roomserver/internal/input/input_latest_events.go
Labels: component:roomserver

#1704 Reduce device list GetUserDevices timeout
  keyserver/internal/device_list_update.go
Labels: component:keyserver

#1708 Update /messages pagination token behaviour
  syncapi/routing/messages.go
  sytest-whitelist
Labels: component:syncapi

#1709 Sync fixes
  syncapi/streams/stream_accountdata.go
  syncapi/streams/stream_pdu.go
  syncapi/streams/stream_receipt.go
  syncapi/streams/stream_typing.go
  syncapi/types/types.go
Labels: component:syncapi

#1702 Simplify send-to-device messaging
  syncapi/storage/interface.go
  syncapi/storage/postgres/deltas/20201211125500_sequences.go
  syncapi/storage/postgres/deltas/20210112130000_sendtodevice_sentcolumn.go
  syncapi/storage/postgres/send_to_device_table.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/deltas/20201211125500_sequences.go
  syncapi/storage/sqlite3/deltas/20210112130000_sendtodevice_sentcolumn.go
  syncapi/storage/sqlite3/send_to_device_table.go
  syncapi/storage/sqlite3/syncserver.go
  syncapi/storage/tables/interface.go
  syncapi/streams/stream_sendtodevice.go
  syncapi/types/types.go
Labels: component:syncapi

#1700 MSC2946: Spaces Summary
  dendrite-config.yaml
  setup/config/config_mscs.go
  setup/mscs/msc2946/msc2946.go
  setup/mscs/msc2946/msc2946_test.go
  setup/mscs/msc2946/storage.go
  setup/mscs/mscs.go
Labels: experimental

#1718 Don't create so many state snapshots when updating forward extremities
  roomserver/internal/input/input_latest_events.go
  roomserver/state/state.go
Labels: component:roomserver

#1722 Implement MSC2946 over federation
  federationsender/api/api.go
  federationsender/internal/api.go
  federationsender/inthttp/client.go
  federationsender/inthttp/server.go
  go.mod
  go.sum
  setup/mscs/msc2946/msc2946.go
  setup/mscs/msc2946/msc2946_test.go
  setup/mscs/mscs.go
Labels: experimental

#1721 Basic sync filtering
  syncapi/notifier/notifier_test.go
  syncapi/routing/messages.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/filter_table.go
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/account_data_table.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/sqlite3/filter_table.go
  syncapi/storage/sqlite3/filtering.go
  syncapi/storage/sqlite3/invites_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/storage/sqlite3/peeks_table.go
  syncapi/storage/sqlite3/stream_id_table.go
  syncapi/storage/tables/interface.go
  syncapi/streams/stream_pdu.go
  syncapi/sync/request.go
  syncapi/types/provider.go
  sytest-whitelist
Labels: component:syncapi

#1724 MSC2946: Treat federation responses the same way as local responses
  setup/mscs/msc2946/msc2946.go
Labels: experimental

#1726 Add sync API memberships table
  syncapi/storage/postgres/memberships_table.go
  syncapi/storage/postgres/output_room_events_topology_table.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/memberships_table.go
  syncapi/storage/sqlite3/output_room_events_topology_table.go
  syncapi/storage/sqlite3/syncserver.go
  syncapi/storage/tables/interface.go
Labels: component:syncapi

#1731 Gate peeking behind msc flags
  clientapi/clientapi.go
  clientapi/routing/routing.go
  cmd/dendrite-polylith-multi/personalities/clientapi.go
  cmd/dendrite-polylith-multi/personalities/federationapi.go
  cmd/generate-config/main.go
  federationapi/federationapi.go
  federationapi/federationapi_test.go
  federationapi/routing/routing.go
  setup/config/config_mscs.go
  setup/monolith.go
  setup/mscs/mscs.go
Labels: experimental

#1730 NewClient and NewFederationClient updates
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/yggconn/client.go
  cmd/dendritejs/main.go
  cmd/furl/main.go
  federationapi/federationapi_test.go
  go.mod
  go.sum
  keyserver/internal/device_list_update_test.go
  setup/base.go
  signingkeyserver/serverkeyapi_test.go
Labels: maintenance

#1737 Ensure we only retrieve a state event once for a given state res session
  roomserver/state/state.go
Labels: component:roomserver

#1734 Graceful shutdowns
  appservice/appservice.go
  appservice/consumers/roomserver.go
  build/gobind/monolith.go
  cmd/dendrite-demo-libp2p/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-monolith-server/main.go
  cmd/dendrite-polylith-multi/main.go
  cmd/dendrite-polylith-multi/personalities/syncapi.go
  cmd/dendritejs/main.go
  federationsender/consumers/eduserver.go
  federationsender/consumers/keychange.go
  federationsender/consumers/roomserver.go
  federationsender/federationsender.go
  federationsender/queue/destinationqueue.go
  federationsender/queue/queue.go
  internal/consumers.go
  setup/base.go
  setup/monolith.go
  setup/process/process.go
  syncapi/consumers/clientapi.go
  syncapi/consumers/eduserver_receipts.go
  syncapi/consumers/eduserver_sendtodevice.go
  syncapi/consumers/eduserver_typing.go
  syncapi/consumers/keychange.go
  syncapi/consumers/roomserver.go
  syncapi/syncapi.go
Labels: maintenance

#1741 Complete sync performance
  syncapi/streams/stream_devicelist.go
  syncapi/streams/stream_pdu.go
Labels: component:syncapi
