Repository matrix-org/dendrite, pull requests merged in 2021-03, with the labels that each got.

#1777 Fix SQLite registration bug
  userapi/internal/api.go
  userapi/storage/accounts/postgres/storage.go
  userapi/storage/accounts/sqlite3/constraint.go
  userapi/storage/accounts/sqlite3/storage.go
Labels: component:userapi, security

#1774 Return the current OTK count on an empty upload request
  clientapi/routing/keys.go
  keyserver/api/api.go
  keyserver/internal/internal.go
  sytest-blacklist
  sytest-whitelist
  userapi/internal/api.go
Labels: component:keyserver

#1778 Use new path for MSC2946
  go.mod
  go.sum
  setup/mscs/msc2946/msc2946.go
  setup/mscs/msc2946/msc2946_test.go
Labels: experimental

#1779 Upgrade dependencies
  go.mod
  go.sum
Labels: maintenance

#1782 Don't return error when account conflict is handled gracefully
  userapi/internal/api.go
Labels: bug, component:userapi

#1783 Increase gocyclo complexity to 25
  .golangci.yml
  clientapi/routing/profile.go
  clientapi/routing/state.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/dendrite-demo-yggdrasil/yggconn/node.go
  cmd/dendrite-demo-yggdrasil/yggconn/session.go
  cmd/furl/main.go
  cmd/resolve-state/main.go
  federationapi/routing/join.go
  federationapi/routing/leave.go
  federationapi/routing/publicrooms.go
  federationapi/routing/send.go
  federationsender/queue/destinationqueue.go
  roomserver/api/wrapper.go
  roomserver/internal/helpers/helpers.go
  roomserver/internal/perform/perform_backfill.go
  roomserver/internal/perform/perform_invite.go
  roomserver/internal/perform/perform_join.go
  roomserver/internal/query/query.go
  roomserver/state/state.go
  roomserver/storage/shared/storage.go
  setup/base.go
  setup/mscs/msc2836/msc2836.go
  setup/mscs/msc2946/msc2946.go
  syncapi/internal/keychange.go
  syncapi/routing/messages.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/filtering.go
  syncapi/storage/sqlite3/syncserver.go
  syncapi/streams/stream_pdu.go
Labels: maintenance

#1684 Fix appsevice alias queries part 2
  clientapi/routing/createroom.go
  clientapi/routing/directory.go
  federationapi/routing/query.go
  roomserver/api/alias.go
  roomserver/internal/alias.go
  roomserver/internal/api.go
  roomserver/internal/perform/perform_join.go
Labels: component:appservices

#1785 Tweak AS registration check and AS component HTTP clients
  appservice/appservice.go
  appservice/query/query.go
  appservice/workers/transaction_scheduler.go
  clientapi/routing/register.go
  cmd/generate-config/main.go
  dendrite-config.yaml
  setup/base.go
  setup/config/config_appservice.go
  sytest-whitelist
Labels: component:clientapi

#1793 Make bcrypt cost configurable
  cmd/create-account/main.go
  cmd/generate-config/main.go
  dendrite-config.yaml
  setup/base.go
  setup/config/config_userapi.go
  userapi/storage/accounts/postgres/storage.go
  userapi/storage/accounts/sqlite3/storage.go
  userapi/storage/accounts/storage.go
  userapi/storage/accounts/storage_wasm.go
  userapi/userapi.go
  userapi/userapi_test.go
Labels: component:userapi

#1792 Return a more useful error on /register AS spec compliance violation
  clientapi/routing/register.go
Labels: component:clientapi

#1796 device lists: backoff for longer if the wrong error type is returned
  keyserver/internal/device_list_update.go
Labels: bug, component:keyserver

#1797 roomserver: don't make_join with ourselves if clients ask us to
  roomserver/internal/perform/perform_join.go
Labels: bug, component:roomserver

#1801 log less for failed key querys, add counters for incoming pdus/edus
  federationapi/routing/send.go
  federationsender/consumers/eduserver.go
  keyserver/internal/device_list_update.go
  sytest-blacklist
Labels: maintenance

#1802 Add more metrics
  federationapi/routing/send.go
  keyserver/internal/device_list_update.go
Labels: maintenance

#1803 Add Sentry support
  federationapi/routing/send.go
  go.mod
  go.sum
  internal/httputil/httpapi.go
  roomserver/internal/api.go
  roomserver/internal/input/input.go
  roomserver/internal/perform/perform_join.go
  setup/base.go
  setup/config/config_global.go
  syncapi/consumers/clientapi.go
  syncapi/consumers/eduserver_receipts.go
  syncapi/consumers/eduserver_sendtodevice.go
  syncapi/consumers/eduserver_typing.go
  syncapi/consumers/keychange.go
  syncapi/consumers/roomserver.go
Labels: maintenance

#1810 Add a per-room mutex to federationapi when processing transactions
  federationapi/routing/routing.go
  federationapi/routing/send.go
  federationapi/routing/send_test.go
  internal/mutex.go
Labels: component:federation
