Repository matrix-org/dendrite, pull requests merged in 2022-11, with the labels that each got.

#2848 Optimize history visibility checks
  roomserver/internal/helpers/helpers.go
  roomserver/internal/query/query.go
  roomserver/state/state.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/events_table.go
  roomserver/storage/shared/room_updater.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver, optimisation

#2849 Don't limit `"state"`
  syncapi/routing/context.go
  syncapi/routing/search.go
  syncapi/storage/postgres/current_room_state_table.go
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/sqlite3/filtering.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/streams/stream_pdu.go
  syncapi/sync/request.go
Labels: bug, component:syncapi

#2831 Implement `/thirdparty` endpoints
  appservice/api/query.go
  appservice/appservice.go
  appservice/inthttp/client.go
  appservice/inthttp/server.go
  appservice/query/query.go
  clientapi/routing/routing.go
  clientapi/routing/thirdparty.go
Labels: component:appservices, are-we-synapse-yet

#2853 Tweak `removeDuplicates` calls to use `events` instead of `recentEvents`
  syncapi/streams/stream_pdu.go
Labels: component:syncapi

#2856 Move `prev_batch` calculation
  syncapi/storage/interface.go
  syncapi/storage/shared/storage_sync.go
  syncapi/streams/stream_pdu.go
Labels: bug, component:syncapi

#2858 Send presence to joined hosts only
  federationapi/consumers/presence.go
  federationapi/federationapi.go
  sytest-blacklist
  sytest-whitelist
Labels: component:federation

#2864 Handle `m.room.tombstone` events in the UserAPI
  sytest-whitelist
  userapi/consumers/roomserver.go
Labels: component:userapi, are-we-synapse-yet

#2869 Don't drop presence for remote servers immediately
  federationapi/consumers/roomserver.go
  federationapi/federationapi.go
  roomserver/api/api.go
Labels: component:federation

#2866 Handle remote room upgrades
  roomserver/internal/input/input_events.go
  roomserver/storage/interface.go
  roomserver/storage/shared/storage.go
  sytest-whitelist
Labels: component:roomserver, are-we-synapse-yet

#2893 Fix `m.receipt`s causing notifications
  syncapi/streams/stream_receipt.go
  syncapi/types/types.go
  syncapi/types/types_test.go
Labels: bug, component:syncapi

#2894 Calculate correct room member count for push rule evaluation
  userapi/consumers/roomserver.go
Labels: bug, component:userapi

#2897 Push rule evaluation tweaks
  internal/pushrules/evaluate.go
  internal/pushrules/evaluate_test.go
  internal/pushrules/util.go
  internal/pushrules/util_test.go
Labels: component:userapi
