Repository matrix-org/dendrite, pull requests merged in 2022-02, with the labels that each got.

#2136 Support CA certificates in CI
  build/scripts/Complement.Dockerfile
  cmd/generate-config/main.go
  cmd/generate-keys/main.go
  internal/test/config.go
Labels: tests

#2137 PerformInvite: bugfix and rejig control flow
  roomserver/internal/perform/perform_invite.go
Labels: bug, component:roomserver

#2140 Use pull consumers
  appservice/consumers/roomserver.go
  federationapi/consumers/eduserver.go
  federationapi/consumers/roomserver.go
  roomserver/internal/api.go
  setup/config/config_jetstream.go
  setup/jetstream/helpers.go
  syncapi/consumers/clientapi.go
  syncapi/consumers/eduserver_receipts.go
  syncapi/consumers/eduserver_sendtodevice.go
  syncapi/consumers/eduserver_typing.go
  syncapi/consumers/roomserver.go
Labels: maintenance

#2141 Full roomserver input transactional isolation
  roomserver/internal/helpers/auth.go
  roomserver/internal/input/input.go
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_latest_events.go
  roomserver/internal/input/input_membership.go
  roomserver/internal/input/input_missing.go
  roomserver/state/state.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/event_json_table.go
  roomserver/storage/postgres/event_state_keys_table.go
  roomserver/storage/postgres/event_types_table.go
  roomserver/storage/postgres/events_table.go
  roomserver/storage/postgres/invite_table.go
  roomserver/storage/postgres/membership_table.go
  roomserver/storage/postgres/published_table.go
  roomserver/storage/postgres/room_aliases_table.go
  roomserver/storage/postgres/rooms_table.go
  roomserver/storage/postgres/state_block_table.go
  roomserver/storage/postgres/state_snapshot_table.go
  roomserver/storage/shared/latest_events_updater.go
  roomserver/storage/shared/room_updater.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/event_json_table.go
  roomserver/storage/sqlite3/event_state_keys_table.go
  roomserver/storage/sqlite3/event_types_table.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/sqlite3/invite_table.go
  roomserver/storage/sqlite3/membership_table.go
  roomserver/storage/sqlite3/published_table.go
  roomserver/storage/sqlite3/room_aliases_table.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/sqlite3/state_block_table.go
  roomserver/storage/sqlite3/state_snapshot_table.go
  roomserver/storage/sqlite3/storage.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver

#2144 Remove roomserver input deadlines
  go.mod
  go.sum
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_missing.go
Labels: component:roomserver

#2146 Fix CPU spin from key change consumer when an invalid message is supplied
  keyserver/consumers/cross_signing.go
Labels: component:keyserver

#2154 Fix bugs that could wedge rooms
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_missing.go
  roomserver/internal/query/query.go
  roomserver/types/types.go
Labels: component:roomserver

#2159 Allow events to be un-rejected
  roomserver/storage/postgres/events_table.go
  roomserver/storage/sqlite3/events_table.go
Labels: component:roomserver

#2161 More relaxed auth event fetching
  roomserver/internal/input/input_events.go
Labels: component:roomserver

#2165 Fix transaction issues in events table in PSQL
  roomserver/internal/input/input_membership.go
  roomserver/storage/postgres/events_table.go
  roomserver/storage/shared/membership_updater.go
Labels: component:roomserver

#2163 Fix fetching missing state
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_missing.go
  roomserver/internal/query/query.go
  roomserver/storage/shared/room_updater.go
  roomserver/storage/shared/storage.go
  roomserver/types/types.go
Labels: component:roomserver

#2179 Drop `m.room.create` events in federation `/send` transaction
  federationapi/routing/send.go
Labels: component:federation

#2178 Ensure only one transaction is used for RS input per room
  federationapi/routing/send_test.go
  roomserver/api/api.go
  roomserver/api/api_trace.go
  roomserver/api/query.go
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_missing.go
  roomserver/internal/input/input_test.go
  roomserver/internal/query/query.go
  roomserver/inthttp/client.go
  roomserver/inthttp/server.go
  roomserver/storage/postgres/event_json_table.go
  roomserver/storage/shared/room_updater.go
  roomserver/storage/shared/storage.go
Labels: component:roomserver

#2189 Don't panic on retiring an invite that we haven't seen yet
  syncapi/consumers/roomserver.go
Labels: component:syncapi

#2196 Fix potential panic in `NewStreamTokenFromString` caused by off-by-one error
  syncapi/types/types.go
Labels: component:syncapi

#2195 Don't re-send sent events in `add_state_events`
  roomserver/internal/input/input_latest_events.go
  roomserver/storage/postgres/events_table.go
  roomserver/storage/shared/membership_updater.go
  roomserver/storage/shared/room_updater.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver

#2198 Use process context for roomserver input
  roomserver/internal/api.go
  roomserver/internal/input/input.go
  roomserver/roomserver.go
Labels: component:roomserver

#2199 Allow preventing guest registration
  clientapi/routing/register.go
  dendrite-config.yaml
  setup/config/config_clientapi.go
Labels: component:clientapi

#2203 Expose sync endpoints via `/v3`
  syncapi/routing/routing.go
Labels: component:syncapi

#2208 Delete one-time keys when deleting a device
  keyserver/storage/postgres/one_time_keys_table.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/one_time_keys_table.go
  keyserver/storage/tables/interface.go
Labels: component:keyserver

#2209 Reset invalid state snapshots for events during state storage refactor migration
  roomserver/storage/postgres/deltas/2021041615092700_state_blocks_refactor.go
  roomserver/storage/sqlite3/deltas/2021041615092700_state_blocks_refactor.go
Labels: component:roomserver

#2210 Return `ErrRoomNoExists` if insufficient state is available for a `buildEvent` to succeed when joining a room
  roomserver/internal/perform/perform_join.go
  roomserver/storage/postgres/state_snapshot_table.go
  roomserver/storage/sqlite3/state_snapshot_table.go
  roomserver/types/types.go
Labels: component:roomserver

#2211 Fix logic error on context history visibility
  syncapi/routing/context.go
Labels: component:syncapi

#2217 Only emit key change notifications from federation when changes are made
  keyserver/internal/device_list_update.go
Labels: component:keyserver

#2219 Add `DeviceKeysEqual`
  keyserver/api/api.go
  keyserver/internal/internal.go
Labels: component:keyserver

#2216 Remote banned user is kicked and may not rejoin until unbanned
  clientapi/routing/state.go
  sytest-whitelist
Labels: are-we-synapse-yet

#2226 State resolution v2 micro-optimisations
  roomserver/state/state.go
Labels: component:roomserver

#2227 Update `Events` call-sites which now don't return an error, update `parsedRespState` to sort
  go.mod
  go.sum
  roomserver/api/wrapper.go
  roomserver/internal/input/input_missing.go
  setup/mscs/msc2836/msc2836.go
Labels: bug
