Repository matrix-org/dendrite, pull requests merged in 2022-10, with the labels that each got.

#2758 Modify sync transaction behaviour
  syncapi/storage/interface.go
  syncapi/storage/shared/storage_sync.go
  syncapi/streams/stream_accountdata.go
  syncapi/streams/stream_devicelist.go
  syncapi/streams/stream_invite.go
  syncapi/streams/stream_notificationdata.go
  syncapi/streams/stream_pdu.go
  syncapi/streams/stream_presence.go
  syncapi/streams/stream_receipt.go
  syncapi/streams/stream_sendtodevice.go
  syncapi/sync/requestpool.go
Labels: component:syncapi

#2764 Add indexes that optimise `selectStateInRangeSQL`
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
Labels: component:syncapi

#2765 Add `RoomEventType` nats.Header to avoid unneeded unmarshalling
  appservice/consumers/roomserver.go
  federationapi/consumers/roomserver.go
  roomserver/producers/roomevent.go
  setup/jetstream/streams.go
  test/testrig/jetstream.go
  userapi/consumers/roomserver.go
Labels: maintenance

#2773 Add test for `QueryDeviceMessages`
  keyserver/internal/internal.go
  keyserver/internal/internal_test.go
  keyserver/storage/postgres/device_keys_table.go
  keyserver/storage/sqlite3/device_keys_table.go
Labels: tests

#2775 Ensure we only wake up a given user once
  syncapi/notifier/notifier.go
Labels: component:syncapi

#2776 Fix issue with DMs shown as normal rooms
  federationapi/api/api.go
  federationapi/internal/perform.go
  roomserver/api/perform.go
  roomserver/internal/helpers/helpers.go
  roomserver/internal/perform/perform_join.go
  roomserver/internal/perform/perform_leave.go
  roomserver/internal/query/query.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/invite_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/invite_table.go
  roomserver/storage/tables/interface.go
  roomserver/storage/tables/invite_table_test.go
Labels: bug, component:roomserver, component:federation

#2784 Send E2EE related errors to sentry
  federationapi/consumers/keychange.go
  federationapi/consumers/sendtodevice.go
  federationapi/queue/queue.go
  federationapi/routing/send.go
Labels: component:federation

#2785 Fix joined hosts with `RewritesState`
  federationapi/storage/shared/storage.go
Labels: component:federation

#2788 Tweak `GetStateDeltas` behaviour
  syncapi/storage/shared/storage_sync.go
Labels: component:syncapi

#2787 Fix `/get_missing_events` for rooms with `joined`/`invited` history_visibility
  are-we-synapse-yet.list
  roomserver/auth/auth.go
  roomserver/internal/helpers/helpers.go
  roomserver/internal/perform/perform_backfill.go
  roomserver/internal/query/query.go
  roomserver/storage/postgres/state_snapshot_table.go
  sytest-whitelist
Labels: component:roomserver, component:federation, spec-compliance, are-we-synapse-yet

#2790 Event relations
  docs/caddy/polylith/Caddyfile
  docs/hiawatha/polylith-sample.conf
  docs/nginx/polylith-sample.conf
  go.mod
  go.sum
  syncapi/consumers/roomserver.go
  syncapi/routing/relations.go
  syncapi/routing/routing.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/relations_table.go
  syncapi/storage/postgres/syncserver.go
  syncapi/storage/shared/storage_consumer.go
  syncapi/storage/shared/storage_sync.go
  syncapi/storage/sqlite3/relations_table.go
  syncapi/storage/sqlite3/stream_id_table.go
  syncapi/storage/sqlite3/syncserver.go
  syncapi/storage/tables/interface.go
  syncapi/storage/tables/relations_test.go
  syncapi/types/types.go
Labels: component:syncapi

#2793 Always add `UnreadNotifications` to joined room reponses
  syncapi/streams/stream_notificationdata.go
  syncapi/types/types.go
  sytest-whitelist
Labels: component:syncapi, are-we-synapse-yet

#2806 Namespace user API tables
  userapi/consumers/roomserver_test.go
  userapi/storage/postgres/account_data_table.go
  userapi/storage/postgres/accounts_table.go
  userapi/storage/postgres/deltas/20200929203058_is_active.go
  userapi/storage/postgres/deltas/20201001204705_last_seen_ts_ip.go
  userapi/storage/postgres/deltas/2022021013023800_add_account_type.go
  userapi/storage/postgres/deltas/2022101711000000_rename_tables.go
  userapi/storage/postgres/devices_table.go
  userapi/storage/postgres/key_backup_table.go
  userapi/storage/postgres/key_backup_version_table.go
  userapi/storage/postgres/logintoken_table.go
  userapi/storage/postgres/openid_table.go
  userapi/storage/postgres/profile_table.go
  userapi/storage/postgres/stats_table.go
  userapi/storage/postgres/storage.go
  userapi/storage/postgres/threepid_table.go
  userapi/storage/sqlite3/account_data_table.go
  userapi/storage/sqlite3/accounts_table.go
  userapi/storage/sqlite3/deltas/20200929203058_is_active.go
  userapi/storage/sqlite3/deltas/20201001204705_last_seen_ts_ip.go
  userapi/storage/sqlite3/deltas/2022021012490600_add_account_type.go
  userapi/storage/sqlite3/deltas/2022101711000000_rename_tables.go
  userapi/storage/sqlite3/devices_table.go
  userapi/storage/sqlite3/key_backup_table.go
  userapi/storage/sqlite3/key_backup_version_table.go
  userapi/storage/sqlite3/logintoken_table.go
  userapi/storage/sqlite3/openid_table.go
  userapi/storage/sqlite3/profile_table.go
  userapi/storage/sqlite3/stats_table.go
  userapi/storage/sqlite3/storage.go
  userapi/storage/sqlite3/threepid_table.go
  userapi/storage/storage_test.go
  userapi/storage/tables/stats_table_test.go
  userapi/userapi_test.go
Labels: component:userapi

#2821 Optimize inserting pending PDUs/EDUs
  federationapi/queue/destinationqueue.go
  federationapi/queue/queue.go
  federationapi/queue/queue_test.go
  federationapi/storage/interface.go
  federationapi/storage/shared/storage_edus.go
  federationapi/storage/shared/storage_pdus.go
  federationapi/storage/storage_test.go
Labels: component:federation, optimisation

#2824 Get messages from before user left the room
  syncapi/routing/messages.go
  sytest-whitelist
Labels: component:syncapi, are-we-synapse-yet

#2827 Filter `/members`, return members at given point
  clientapi/routing/joined_rooms.go
  clientapi/routing/routing.go
  docs/caddy/polylith/Caddyfile
  docs/hiawatha/polylith-sample.conf
  docs/nginx/polylith-sample.conf
  syncapi/routing/memberships.go
  syncapi/routing/routing.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/memberships_table.go
  syncapi/storage/shared/storage_consumer.go
  syncapi/storage/sqlite3/memberships_table.go
  syncapi/storage/tables/interface.go
  syncapi/streams/stream_pdu.go
  syncapi/types/types.go
  sytest-whitelist
Labels: component:syncapi, spec-compliance, are-we-synapse-yet

#2823 Add support for config "auto_join_rooms"
  dendrite-sample.monolith.yaml
  dendrite-sample.polylith.yaml
  roomserver/api/api.go
  setup/config/config_userapi.go
  userapi/internal/api.go
  userapi/userapi.go
Labels: feature request, component:clientapi

#2814 Add scheduled tasks to run tests with race detection
  .github/workflows/schedules.yaml
Labels: maintenance, tests
