Repository matrix-org/dendrite, pull requests merged in 2022-08, with the labels that each got.

#2599 Set CORS headers for HTTP 404 and 405 errors
  setup/base/base.go
Labels: maintenance

#2596 Optimise checking other servers allowed to see events
  roomserver/internal/helpers/helpers.go
  roomserver/state/state.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/state_snapshot_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/state_snapshot_table.go
  roomserver/storage/tables/interface.go
  roomserver/storage/tables/state_snapshot_table_test.go
Labels: component:roomserver

#2600 De-race `types.RoomInfo`
  roomserver/internal/helpers/auth.go
  roomserver/internal/helpers/helpers.go
  roomserver/internal/perform/perform_admin.go
  roomserver/internal/perform/perform_backfill.go
  roomserver/internal/perform/perform_inbound_peek.go
  roomserver/internal/perform/perform_invite.go
  roomserver/internal/query/query.go
  roomserver/storage/postgres/rooms_table.go
  roomserver/storage/shared/room_updater.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/rooms_table.go
  roomserver/storage/tables/rooms_table_test.go
  roomserver/types/types.go
Labels: component:roomserver

#2601 De-race `CompleteSync`
  syncapi/streams/stream_pdu.go
Labels: component:syncapi

#2604 Stronger checks for `/send_join`
  federationapi/routing/join.go
Labels: component:federation

#2607 Room info tweaks
  roomserver/internal/input/input_missing.go
  roomserver/internal/query/query.go
  roomserver/storage/shared/room_updater.go
  roomserver/storage/shared/storage.go
  roomserver/types/types.go
Labels: component:roomserver

#2605 Disable NATS Server logging, allow self-signed certificates
  dendrite-sample.monolith.yaml
  dendrite-sample.polylith.yaml
  setup/config/config_jetstream.go
  setup/jetstream/nats.go
Labels: maintenance, NATS

#2615 Remove roominfo cache
  internal/caching/cache_roominfo.go
  internal/caching/cache_roomservernids.go
  internal/caching/caches.go
  internal/caching/impl_ristretto.go
  roomserver/storage/shared/storage.go
Labels: component:roomserver

#2614 Fix syncapi shared users query & device lists
  keyserver/internal/internal.go
  syncapi/internal/keychange.go
  syncapi/internal/keychange_test.go
  syncapi/storage/postgres/current_room_state_table.go
  syncapi/storage/sqlite3/current_room_state_table.go
Labels: component:syncapi

#2610 Try more servers when calling `/state_ids`
  roomserver/internal/input/input_missing.go
Labels: component:roomserver

#2620 Only create a new destinationQueue if we don't have one
  federationapi/queue/queue.go
Labels: component:federation

#2625 Do not use `ioutil` as it is deprecated
  clientapi/auth/login.go
  clientapi/httputil/httputil.go
  clientapi/routing/account_data.go
  clientapi/routing/deactivate.go
  clientapi/routing/device.go
  clientapi/routing/register.go
  clientapi/routing/register_secret_test.go
  cmd/create-account/main.go
  cmd/dendrite-demo-pinecone/main.go
  cmd/dendrite-demo-yggdrasil/yggconn/node.go
  cmd/dendrite-upgrade-tests/main.go
  cmd/furl/main.go
  federationapi/federationapi_keys_test.go
  internal/log_unix.go
  keyserver/internal/device_list_update_test.go
  mediaapi/fileutils/fileutils.go
  mediaapi/routing/download.go
  setup/config/config.go
  setup/config/config_appservice.go
  setup/mscs/msc2836/msc2836_test.go
  syncapi/routing/filter.go
  test/keys.go
Labels: maintenance

#2621 Partly fix notification counts
  syncapi/storage/postgres/notification_data_table.go
  syncapi/storage/sqlite3/notification_data_table.go
  syncapi/storage/sqlite3/stream_id_table.go
  syncapi/storage/sqlite3/syncserver.go
Labels: component:syncapi

#2623 Invalidate lazyLoadCache if we're doing an initial sync
  internal/caching/cache_lazy_load_members.go
  syncapi/routing/messages.go
  syncapi/streams/stream_pdu.go
  syncapi/streams/streams.go
Labels: component:syncapi

#2643 Only return non-retired invites
  syncapi/streams/stream_invite.go
Labels: component:syncapi

#2646 Lazy-loading fixes
  syncapi/streams/stream_pdu.go
Labels: component:syncapi

#2647 Reprocess rejected input events
  roomserver/internal/input/input_events.go
  roomserver/internal/query/query.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/events_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver

#2652 State handling tweaks
  roomserver/internal/helpers/auth.go
  roomserver/internal/input/input_events.go
  roomserver/internal/perform/perform_backfill.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/events_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/events_table.go
  roomserver/storage/tables/events_table_test.go
  roomserver/storage/tables/interface.go
Labels: component:roomserver

#2653 Enforce device list backoffs
  keyserver/internal/device_list_update.go
  sytest-whitelist
Labels: component:keyserver

#2676 Restrict username length properly
  clientapi/routing/register.go
  clientapi/routing/routing.go
Labels: component:clientapi, spec-compliance
