Repository matrix-org/dendrite, pull requests merged in 2022-03, with the labels that each got.

#2233 Check for changes in `PerformUploadDeviceKeys`
  keyserver/internal/cross_signing.go
Labels: component:keyserver

#2234 Limit `JoinedUsersSetInRooms` to interested users
  roomserver/api/query.go
  roomserver/internal/query/query.go
  roomserver/storage/interface.go
  roomserver/storage/postgres/membership_table.go
  roomserver/storage/shared/storage.go
  roomserver/storage/sqlite3/membership_table.go
  roomserver/storage/tables/interface.go
  syncapi/internal/keychange.go
Labels: component:syncapi

#2232 MSC2946: Spaces Summary (round 2)
  federationapi/api/api.go
  federationapi/internal/federationclient.go
  federationapi/inthttp/client.go
  federationapi/inthttp/server.go
  go.mod
  go.sum
  roomserver/api/query.go
  roomserver/internal/query/query.go
  roomserver/storage/interface.go
  roomserver/storage/shared/storage.go
  setup/mscs/msc2946/msc2946.go
  setup/mscs/msc2946/msc2946_test.go
  setup/mscs/msc2946/storage.go
Labels: experimental

#2218 Return `state` on calls to /messages and lazy load members
  syncapi/routing/context.go
  syncapi/routing/context_test.go
  syncapi/routing/messages.go
  sytest-whitelist
Labels: are-we-synapse-yet

#2241 Fix read receipts
  syncapi/storage/postgres/receipt_table.go
  syncapi/storage/sqlite3/receipt_table.go
  syncapi/streams/stream_receipt.go
Labels: component:syncapi

#2242 Media endpoints on `/v3`
  mediaapi/routing/routing.go
Labels: component:mediaapi

#2245 Return 404 if event given to `/context` was not found
  syncapi/routing/context.go
Labels: component:syncapi

#2246 Send profile updates asynchronously
  clientapi/routing/profile.go
Labels: component:clientapi

#2250 Fix a panic in `OnIncomingMessagesRequest`
  syncapi/routing/messages.go
Labels: component:syncapi

#2252 Mark soft-failed events as rejected in `roomserver_events`
  roomserver/internal/input/input_events.go
Labels: component:roomserver

#2262 Fix `GET /directory/list/room/{roomID}`
  roomserver/internal/query/query.go
  roomserver/storage/interface.go
  roomserver/storage/shared/storage.go
Labels: component:roomserver

#2270 Don't range entire state for `/sync`
  syncapi/storage/postgres/current_room_state_table.go
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/storage/tables/interface.go
Labels: component:syncapi

#2281 Truncate `recentStreamEvents` before working out which event IDs to exclude from `stateEvents`
  syncapi/streams/stream_pdu.go
Labels: component:syncapi

#2282 Update to NATS Server 2.7.4
  go.mod
  go.sum
Labels: maintenance

#2263 Better mapping of stream positions to topological positions in `/messages`
  syncapi/routing/messages.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/output_room_events_topology_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/output_room_events_topology_table.go
  syncapi/storage/tables/interface.go
  sytest-whitelist
Labels: component:syncapi

#2289 Wait for safe shutdown of NATS Server
  appservice/appservice.go
  clientapi/clientapi.go
  cmd/dendrite-polylith-multi/personalities/clientapi.go
  eduserver/eduserver.go
  federationapi/federationapi.go
  keyserver/keyserver.go
  roomserver/roomserver.go
  setup/jetstream/nats.go
  setup/monolith.go
  syncapi/syncapi.go
  userapi/userapi.go
Labels: maintenance

#2293 Per-room consumers
  appservice/consumers/roomserver.go
  clientapi/clientapi.go
  eduserver/eduserver.go
  federationapi/consumers/eduserver.go
  federationapi/consumers/keychange.go
  federationapi/consumers/roomserver.go
  keyserver/keyserver.go
  roomserver/internal/api.go
  roomserver/internal/input/input.go
  roomserver/roomserver.go
  setup/config/config_jetstream.go
  setup/jetstream/nats.go
  setup/jetstream/streams.go
  syncapi/consumers/clientapi.go
  syncapi/consumers/eduserver_receipts.go
  syncapi/consumers/eduserver_sendtodevice.go
  syncapi/consumers/eduserver_typing.go
  syncapi/consumers/roomserver.go
  syncapi/consumers/userapi.go
  syncapi/syncapi.go
  userapi/consumers/syncapi_readupdate.go
  userapi/consumers/syncapi_streamevent.go
  userapi/userapi.go
Labels: component:roomserver

#2303 Healthcheck endpoints
  internal/httputil/paths.go
  setup/base/base.go
Labels: maintenance

#2309 Allow stored session parameters to be overwritten in the registration request
  clientapi/routing/register.go
Labels: component:clientapi
