Repository matrix-org/dendrite, pull requests merged in 2022-05, with the labels that each got.

#2423 Define component interfaces based on consumers (1/2)
  appservice/api/query.go
  appservice/appservice.go
  appservice/consumers/roomserver.go
  clientapi/auth/login.go
  clientapi/auth/login_test.go
  clientapi/auth/user_interactive.go
  clientapi/auth/user_interactive_test.go
  clientapi/clientapi.go
  clientapi/producers/syncapi.go
  clientapi/routing/account_data.go
  clientapi/routing/admin.go
  clientapi/routing/admin_whois.go
  clientapi/routing/aliases.go
  clientapi/routing/capabilities.go
  clientapi/routing/createroom.go
  clientapi/routing/deactivate.go
  clientapi/routing/device.go
  clientapi/routing/directory.go
  clientapi/routing/directory_public.go
  clientapi/routing/getevent.go
  clientapi/routing/joinroom.go
  clientapi/routing/key_backup.go
  clientapi/routing/key_crosssigning.go
  clientapi/routing/keys.go
  clientapi/routing/leaveroom.go
  clientapi/routing/login.go
  clientapi/routing/logout.go
  clientapi/routing/membership.go
  clientapi/routing/memberships.go
  clientapi/routing/notification.go
  clientapi/routing/openid.go
  clientapi/routing/password.go
  clientapi/routing/peekroom.go
  clientapi/routing/profile.go
  clientapi/routing/pusher.go
  clientapi/routing/pushrules.go
  clientapi/routing/redaction.go
  clientapi/routing/register.go
  clientapi/routing/room_tagging.go
  clientapi/routing/routing.go
  clientapi/routing/sendevent.go
  clientapi/routing/sendtyping.go
  clientapi/routing/server_notices.go
  clientapi/routing/state.go
  clientapi/routing/threepid.go
  clientapi/routing/upgrade_room.go
  clientapi/routing/userdirectory.go
  clientapi/threepid/invites.go
  federationapi/api/api.go
  federationapi/routing/invite.go
  internal/eventutil/events.go
  keyserver/api/api.go
  mediaapi/mediaapi.go
  mediaapi/routing/routing.go
  roomserver/api/api.go
  roomserver/api/wrapper.go
  userapi/api/api.go
Labels: maintenance

#2430 Simplify `calculateLatest`
  roomserver/internal/input/input_latest_events.go
Labels: component:roomserver

#2435 Add `(user_id, device_id)` index on OTK table
  keyserver/storage/postgres/one_time_keys_table.go
  keyserver/storage/sqlite3/one_time_keys_table.go
Labels: component:keyserver

#2437 Don't try to re-fetch the event if it is listed in `adds_state_event_ids`
  syncapi/consumers/roomserver.go
Labels: component:syncapi

#2442 Begin adding syncapi component tests
  federationapi/federationapi_keys_test.go
  setup/base/base.go
  setup/jetstream/nats.go
  syncapi/sync/requestpool.go
  syncapi/syncapi.go
  syncapi/syncapi_test.go
  test/base.go
  test/http.go
  test/jetstream.go
Labels: tests

#2446 Add indexes to `syncapi_output_room_events` table
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
Labels: component:syncapi

#2456 Separate sample configs for monolith and polylith
  README.md
  build/docker/README.md
  build/docker/config/dendrite.yaml
  dendrite-sample.monolith.yaml
  dendrite-sample.polylith.yaml
  docs/FAQ.md
  docs/installation/7_configuration.md
Labels: Documentation

#2459 Shuffle config `Verify`/`Defaults` a bit around
  setup/config/config_appservice.go
  setup/config/config_clientapi.go
  setup/config/config_federationapi.go
  setup/config/config_jetstream.go
  setup/config/config_keyserver.go
  setup/config/config_mediaapi.go
  setup/config/config_roomserver.go
  setup/config/config_syncapi.go
  setup/config/config_userapi.go
Labels: maintenance

#2460 Update NATS Server to version 2.8.2
  go.mod
  go.sum
Labels: maintenance

#2457 Resolve over old and new extremities
  go.mod
  go.sum
  roomserver/internal/input/input_latest_events.go
  roomserver/types/types.go
Labels: component:roomserver

#2468 Add docs which explain how to calculate coverage
  docs/coverage.md
Labels: Documentation

#2466 bugfix: E2EE device keys could sometimes not be sent to remote servers
  cmd/generate-keys/main.go
  federationapi/api/api.go
  federationapi/consumers/keychange.go
  federationapi/consumers/roomserver.go
  federationapi/federationapi.go
  federationapi/federationapi_test.go
  federationapi/internal/api.go
  federationapi/internal/perform.go
  federationapi/queue/destinationqueue.go
  federationapi/queue/queue.go
  federationapi/routing/query.go
  federationapi/routing/routing.go
  federationapi/routing/send.go
  federationapi/routing/send_test.go
  federationapi/routing/threepid.go
  federationapi/storage/interface.go
  federationapi/storage/postgres/joined_hosts_table.go
  federationapi/storage/shared/storage.go
  internal/caching/cache_typing_test.go
  internal/test/client.go
  internal/test/kafka.go
  internal/test/server.go
  keyserver/internal/device_list_update.go
  keyserver/internal/internal.go
  keyserver/keyserver.go
  roomserver/api/api.go
  roomserver/internal/input/input_test.go
  roomserver/internal/query/query_test.go
  roomserver/storage/tables/events_table_test.go
  roomserver/storage/tables/previous_events_table_test.go
  roomserver/storage/tables/published_table_test.go
  roomserver/storage/tables/room_aliases_table_test.go
  roomserver/storage/tables/rooms_table_test.go
  syncapi/storage/storage_test.go
  syncapi/storage/tables/output_room_events_test.go
  syncapi/storage/tables/topology_test.go
  syncapi/syncapi_test.go
  test/event.go
  test/http.go
  test/keyring.go
  test/keys.go
  test/room.go
  test/slice.go
  test/testrig/base.go
  test/testrig/jetstream.go
  test/user.go
  userapi/storage/storage_test.go
  userapi/userapi_test.go
Labels: bug, component:federation

#2470 bugfix: fix race condition when updating presence via /sync
  syncapi/consumers/presence.go
  syncapi/sync/requestpool.go
  syncapi/sync/requestpool_test.go
  syncapi/syncapi.go
  syncapi/syncapi_test.go
Labels: bug, component:syncapi

#2482 Strip `join_authorised_by_users_server` when updating membership events using `/rooms/{roomID}/state`
  clientapi/routing/sendevent.go
Labels: component:clientapi

#2485 Give PL100 to invited users in `trusted_private_chat` preset
  clientapi/routing/createroom.go
Labels: component:clientapi

#2478 Restricted join support on `/make_join`, `/send_join`
  clientapi/jsonerror/jsonerror.go
  federationapi/internal/perform.go
  federationapi/routing/join.go
  roomserver/api/api.go
  roomserver/api/api_trace.go
  roomserver/api/query.go
  roomserver/internal/perform/perform_join.go
  roomserver/internal/query/query.go
  roomserver/inthttp/client.go
  roomserver/inthttp/server.go
Labels: component:roomserver, component:federation

#2490 Fix using the remote provided event from `/send_join`
  federationapi/internal/perform.go
  federationapi/routing/join.go
  go.mod
  go.sum
Labels: component:federation

#2489 State debugging
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_latest_events.go
  roomserver/storage/tables/events_table_test.go
  roomserver/types/types.go
Labels: component:roomserver
