Repository matrix-org/dendrite, pull requests merged in 2022-09, with the labels that each got.

#2687 Refactor appservices component
  appservice/README.md
  appservice/appservice.go
  appservice/consumers/roomserver.go
  appservice/query/query.go
  appservice/storage/interface.go
  appservice/storage/postgres/appservice_events_table.go
  appservice/storage/postgres/storage.go
  appservice/storage/postgres/txn_id_counter_table.go
  appservice/storage/sqlite3/appservice_events_table.go
  appservice/storage/sqlite3/storage.go
  appservice/storage/sqlite3/txn_id_counter_table.go
  appservice/storage/storage.go
  appservice/storage/storage_wasm.go
  appservice/types/types.go
  appservice/workers/transaction_scheduler.go
  build/gobind-pinecone/monolith.go
  build/gobind-yggdrasil/monolith.go
  cmd/dendrite-demo-pinecone/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/generate-config/main.go
  dendrite-sample.polylith.yaml
  setup/config/config_appservice.go
  setup/jetstream/helpers.go
  setup/jetstream/nats.go
  test/testrig/base.go
  userapi/internal/api.go
Labels: component:appservices

#2567 Configuration tweaks
  build/gobind-pinecone/monolith.go
  build/gobind-yggdrasil/monolith.go
  build/scripts/ComplementPostgres.Dockerfile
  clientapi/routing/register_test.go
  cmd/dendrite-demo-pinecone/main.go
  cmd/dendrite-demo-yggdrasil/main.go
  cmd/generate-config/main.go
  federationapi/federationapi_keys_test.go
  federationapi/federationapi_test.go
  setup/config/config.go
  setup/config/config_appservice.go
  setup/config/config_clientapi.go
  setup/config/config_federationapi.go
  setup/config/config_global.go
  setup/config/config_jetstream.go
  setup/config/config_keyserver.go
  setup/config/config_mediaapi.go
  setup/config/config_mscs.go
  setup/config/config_roomserver.go
  setup/config/config_syncapi.go
  setup/config/config_userapi.go
  setup/mscs/msc2836/msc2836_test.go
  test/testrig/base.go
Labels: maintenance

#2692 Only send (invite) events to the AS if it's interested in it
  appservice/consumers/roomserver.go
Labels: bug, component:appservices

#2697 Add a SigningKeyUpdate producer
  federationapi/federationapi.go
  federationapi/producers/syncapi.go
  federationapi/routing/send.go
  keyserver/consumers/signingkeyupdate.go
  keyserver/keyserver.go
  setup/jetstream/streams.go
Labels: component:federation, component:keyserver

#2698 Avoid unneeded JSON operations
  federationapi/producers/syncapi.go
  federationapi/routing/send.go
  keyserver/consumers/devicelistupdate.go
Labels: component:federation, maintenance, component:keyserver

#2713 Send-to-device consumer/producer tweaks
  clientapi/producers/syncapi.go
  federationapi/producers/syncapi.go
  syncapi/consumers/sendtodevice.go
  syncapi/syncapi_test.go
Labels: maintenance

#2728 Mark device list as stale, if we don't have the requesting device
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/inthttp/client.go
  keyserver/inthttp/server.go
  syncapi/consumers/sendtodevice.go
  syncapi/internal/keychange_test.go
  syncapi/syncapi.go
Labels: component:keyserver, e2ee

#2730 HTTP connection keepalives
  dendrite-sample.monolith.yaml
  dendrite-sample.polylith.yaml
  setup/base/base.go
  setup/config/config_federationapi.go
Labels: component:federation

#2720 Tweak `InsertMigration` to avoid logging
  federationapi/federationapi_keys_test.go
  federationapi/federationapi_test.go
  internal/sqlutil/migrate.go
  internal/sqlutil/migrate_test.go
Labels: maintenance

#2737 Remove `origin` field from PDUs
  federationapi/internal/perform.go
  federationapi/routing/invite.go
  federationapi/routing/join.go
  federationapi/routing/leave.go
  go.mod
  go.sum
  roomserver/internal/input/input_events.go
  roomserver/internal/perform/perform_backfill.go
  roomserver/internal/perform/perform_invite.go
  roomserver/internal/perform/perform_leave.go
  roomserver/storage/shared/storage.go
Labels: spec-compliance

#2744 Consistent `*sql.Tx` usage across sync API
  syncapi/storage/postgres/account_data_table.go
  syncapi/storage/postgres/backwards_extremities_table.go
  syncapi/storage/postgres/current_room_state_table.go
  syncapi/storage/postgres/filter_table.go
  syncapi/storage/postgres/invites_table.go
  syncapi/storage/postgres/output_room_events_table.go
  syncapi/storage/postgres/output_room_events_topology_table.go
  syncapi/storage/postgres/peeks_table.go
  syncapi/storage/postgres/receipt_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/account_data_table.go
  syncapi/storage/sqlite3/backwards_extremities_table.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/sqlite3/filter_table.go
  syncapi/storage/sqlite3/notification_data_table.go
  syncapi/storage/sqlite3/output_room_events_table.go
  syncapi/storage/sqlite3/output_room_events_topology_table.go
  syncapi/storage/sqlite3/peeks_table.go
  syncapi/storage/sqlite3/receipt_table.go
  syncapi/storage/tables/interface.go
Labels: component:syncapi

#2749 Allow more time for device list updates
  keyserver/internal/device_list_update.go
  keyserver/internal/device_list_update_test.go
  keyserver/keyserver.go
Labels: component:keyserver

#2745 Transactional isolation for `/sync`
  syncapi/consumers/clientapi.go
  syncapi/consumers/keychange.go
  syncapi/consumers/presence.go
  syncapi/consumers/receipts.go
  syncapi/consumers/roomserver.go
  syncapi/consumers/sendtodevice.go
  syncapi/consumers/typing.go
  syncapi/consumers/userapi.go
  syncapi/internal/history_visibility.go
  syncapi/notifier/notifier.go
  syncapi/routing/context.go
  syncapi/routing/messages.go
  syncapi/routing/search.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/invites_table.go
  syncapi/storage/shared/storage_consumer.go
  syncapi/storage/shared/storage_sync.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/sqlite3/invites_table.go
  syncapi/storage/sqlite3/syncserver.go
  syncapi/storage/storage_test.go
  syncapi/storage/tables/interface.go
  syncapi/streams/stream_accountdata.go
  syncapi/streams/stream_devicelist.go
  syncapi/streams/stream_invite.go
  syncapi/streams/stream_notificationdata.go
  syncapi/streams/stream_pdu.go
  syncapi/streams/stream_presence.go
  syncapi/streams/stream_receipt.go
  syncapi/streams/stream_sendtodevice.go
  syncapi/streams/stream_typing.go
  syncapi/streams/streamprovider.go
  syncapi/streams/streams.go
  syncapi/streams/template_stream.go
  syncapi/sync/requestpool.go
  syncapi/types/provider.go
Labels: component:syncapi
