Repository matrix-org/dendrite, pull requests merged in 2022-07, with the labels that each got.

#2548 Try to fix backfilling
  go.mod
  go.sum
  roomserver/internal/perform/perform_backfill.go
  syncapi/routing/context.go
Labels: component:roomserver, component:syncapi

#2555 Return clearer error when no state NID exists for an event
  roomserver/storage/shared/storage.go
Labels: component:roomserver

#2563 Ristretto cache
  .github/workflows/dendrite.yml
  README.md
  build/scripts/Complement.Dockerfile
  build/scripts/ComplementLocal.Dockerfile
  build/scripts/ComplementPostgres.Dockerfile
  cmd/dendrite-demo-yggdrasil/README.md
  cmd/dendrite-upgrade-tests/main.go
  cmd/resolve-state/main.go
  dendrite-sample.monolith.yaml
  dendrite-sample.polylith.yaml
  docs/installation/1_planning.md
  federationapi/federationapi_keys_test.go
  federationapi/routing/invite.go
  federationapi/routing/join.go
  federationapi/routing/leave.go
  go.mod
  go.sum
  internal/caching/cache_federationevents.go
  internal/caching/cache_lazy_load_members.go
  internal/caching/cache_roomevents.go
  internal/caching/cache_roominfo.go
  internal/caching/cache_roomservernids.go
  internal/caching/cache_roomversions.go
  internal/caching/cache_serverkeys.go
  internal/caching/cache_space_rooms.go
  internal/caching/caches.go
  internal/caching/impl_inmemorylru.go
  internal/caching/impl_ristretto.go
  internal/eventutil/events.go
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_test.go
  roomserver/internal/perform/perform_backfill.go
  roomserver/state/state.go
  roomserver/storage/shared/storage.go
  setup/base/base.go
  setup/config/config_global.go
  setup/config/config_test.go
  syncapi/storage/shared/syncserver.go
Labels: maintenance

#2565 Minor SendToDevice fix
  federationapi/consumers/sendtodevice.go
  syncapi/storage/postgres/send_to_device_table.go
  syncapi/storage/sqlite3/send_to_device_table.go
  syncapi/storage/storage_test.go
Labels: component:syncapi

#2572 Use sync API database in `filterSharedUsers`
  syncapi/internal/keychange.go
  syncapi/internal/keychange_test.go
  syncapi/storage/interface.go
  syncapi/storage/postgres/current_room_state_table.go
  syncapi/storage/shared/syncserver.go
  syncapi/storage/sqlite3/current_room_state_table.go
  syncapi/storage/tables/interface.go
  syncapi/streams/stream_devicelist.go
  syncapi/sync/requestpool.go
Labels: component:syncapi

#2541 Membership updater refactoring
  federationapi/routing/invite.go
  roomserver/internal/helpers/helpers.go
  roomserver/internal/input/input_membership.go
  roomserver/internal/perform/perform_invite.go
  roomserver/internal/perform/perform_join.go
  roomserver/internal/perform/perform_leave.go
  roomserver/storage/postgres/membership_table.go
  roomserver/storage/shared/membership_updater.go
  roomserver/storage/sqlite3/membership_table.go
  roomserver/storage/tables/interface.go
  syncapi/consumers/roomserver.go
Labels: component:roomserver
