Repository matrix-org/dendrite, pull requests merged in 2022-01, with the labels that each got.

#2085 Fix #2084 - incorrect /event_auth response
  federationapi/routing/eventauth.go
  roomserver/api/query.go
  roomserver/internal/query/query.go
Labels: bug, component:federation

#2096 BREAKING: Remove Partitioned Stream Positions
  go.mod
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/producers/keychange.go
  syncapi/consumers/keychange.go
  syncapi/internal/keychange.go
  syncapi/internal/keychange_test.go
  syncapi/streams/stream_devicelist.go
  syncapi/streams/streams.go
  syncapi/streams/template_pstream.go
  syncapi/sync/requestpool.go
  syncapi/types/provider.go
  syncapi/types/types.go
  syncapi/types/types_test.go
Labels: component:syncapi, component:keyserver

#2098 Remodel how device list change IDs are created
  cmd/dendrite-upgrade-tests/main.go
  keyserver/api/api.go
  keyserver/internal/internal.go
  keyserver/keyserver.go
  keyserver/producers/keychange.go
  keyserver/storage/interface.go
  keyserver/storage/postgres/deltas/2022012016470000_key_changes.go
  keyserver/storage/postgres/key_changes_table.go
  keyserver/storage/postgres/storage.go
  keyserver/storage/shared/storage.go
  keyserver/storage/sqlite3/deltas/2022012016470000_key_changes.go
  keyserver/storage/sqlite3/key_changes_table.go
  keyserver/storage/sqlite3/storage.go
  keyserver/storage/storage_test.go
  keyserver/storage/tables/interface.go
  syncapi/consumers/keychange.go
Labels: component:keyserver

#2100 Fix #2027 by gracefully handling stub rooms
  roomserver/storage/shared/storage.go
Labels: bug

#2103 Expand issue template
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#2108 Add Complement to GHA
  .github/workflows/tests.yml
Labels: tests

#2074 Upgrade dependencies
  go.mod
  go.sum
Labels: maintenance

#2118 Move hook call when processing room events
  roomserver/internal/input/input.go
  roomserver/internal/input/input_events.go
Labels: component:roomserver

#2131 Only limit context for fetching missing auth/prev events
  roomserver/internal/input/input.go
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_missing.go
Labels: component:roomserver

#2133 Roomserver fixes
  roomserver/internal/input/input_events.go
  roomserver/internal/input/input_missing.go
  roomserver/internal/perform/perform_join.go
  roomserver/internal/perform/perform_leave.go
Labels: component:roomserver
